{% macro _createButtons() %}
  <div class="annotations-buttons">
    <button class="btn btn-dark annotations-button-text" data-toggle="tooltip"
            title="{{ 'annotations.create-note'|trans }}">
      <i class="fa fa-fw fa-comment"></i>
    </button>
    <button class="btn btn-dark annotations-button-mark" data-toggle="tooltip"
            title="{{ 'annotations.create-mark'|trans }}">
      <i class="fa fa-fw fa-flag"></i>
      <i class="fa fa-fw fa-spinner fa-spin"></i>
    </button>
  </div>
{% endmacro %}

{% macro _contextButtons() %}
  <div class="annotation-context-buttons">
    <button class="btn btn-dark annotation-note-button"
            data-toggle="tooltip" title="{{ 'annotations.count'|trans }}">
      <i class="fa fa-fw fa-comments"></i><span class="note-count"></span>
    </button>
    <button class="btn btn-dark annotation-remove-button"
            data-toggle="tooltip" title="{{ 'annotations.remove'|trans }}">
      <i class="fa fa-fw fa-times"></i>
      <i class="fa fa-fw fa-spinner fa-spin"></i>
    </button>
  </div>
{% endmacro %}

{% macro _headerContextButton() %}
  <div class="annotation-header-context-button">
    <button class="btn btn-dark annotation-header-note-button"
            data-toggle="tooltip" title="{{ 'annotations.count'|trans }}">
      <i class="fa fa-fw fa-comments"></i><span class="note-count"></span>
    </button>
  </div>
{% endmacro %}

{% macro _visibilityButtons() %}
  <div class="visibility-buttons">
    <div class="overlay"></div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-outline-secondary active">
        <input type="radio" name="visibility" autocomplete="off" value="private" checked>
        <i class="fa fa-fw fa-user"></i>
        <i class="fa fa-fw fa-spinner fa-spin"></i>
        {{ 'annotations.visibility.private'|trans }}
      </label>
      <label class="btn btn-outline-secondary">
        <input type="radio" name="visibility" autocomplete="off" value="teacher">
        <i class="fa fa-fw fa-graduation-cap"></i>
        <i class="fa fa-fw fa-spinner fa-spin"></i>
        {{ 'annotations.visibility.teacher'|trans }}
      </label>
      <label class="btn btn-outline-secondary">
        <input type="radio" name="visibility" autocomplete="off" value="everybody">
        <i class="fa fa-fw fa-users"></i>
        <i class="fa fa-fw fa-spinner fa-spin"></i>
        {{ 'annotations.visibility.everybody'|trans }}
      </label>
    </div>
    <div class="small when-comments">
      {{ 'annotations.visibility.has-comments'|trans }}
    </div>
  </div>
{% endmacro %}

{% macro _visibilityState() %}
  <span class="visibility-state visibility-private">
    <i class="fa fa-fw fa-user"></i>
    {{ 'annotations.visibility.private'|trans }}
  </span>
  <span class="visibility-state visibility-teacher">
    <i class="fa fa-fw fa-graduation-cap"></i>
    {{ 'annotations.visibility.teacher'|trans }}
  </span>
  <span class="visibility-state visibility-everybody">
    <i class="fa fa-fw fa-users"></i>
    {{ 'annotations.visibility.everybody'|trans }}
  </span>
{% endmacro %}

{% macro _commentRow() %}
  <div class="row">
    <div class="col-12 annotations-comment-container">
      <div>
        <textarea class="annotation-comment form-control"
                  placeholder="{{ 'annotations.comment.create-placeholder'|trans }}"></textarea>
        <button type="button" class="btn btn-outline-success annotations-comment-add">
          <i class="fa fa-fw fa-spinner fa-spin"></i>
          <i class="fa fa-fw fa-plus"></i>
          {{ 'annotations.comment.create'|trans }}
        </button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro _addModal() %}
  <div class="modal fade annotations-modal add" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ 'annotations.create-note'|trans }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="annotations-add-form">
            <div class="row">
              <label class="col-form-label col-12" for="annotation">{{ 'annotations.annotation'|trans }}</label>
              <div class="col-12">
                <textarea id="annotation" class="form-control"
                          placeholder="{{ 'annotations.add-placeholder'|trans }}"></textarea>
              </div>
            </div>
            <div class="row">
              <label class="col-form-label col-12">{{ 'annotations.selected'|trans }}</label>
              <span class="annotations-selected-text col-12"></span>
            </div>
            <div class="row">
              <label class="col-form-label col-12">{{ 'annotations.visibility.title'|trans }}</label>
              <div class="annotations-visibility col-12">
                {% from _self import _visibilityButtons %}
                {{ _visibilityButtons() }}
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-success annotations-save">
            <i class="fa fa-fw fa-plus"></i>
            <i class="fa fa-fw fa-spinner fa-spin"></i>
            {{ 'form.add'|trans }}
          </button>
          <button type="button" class="btn btn-outline-danger annotations-cancel" data-dismiss="modal">
            <i class="fa fa-fw fa-times"></i> {{ 'form.cancel'|trans }}
          </button>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro _notesModal() %}
  <div class="modal fade annotations-modal notes" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ 'annotations.note'|trans }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form> {# Keep form here for nice label formatting #}
            <div class="row">
              <label class="col-form-label col-12">{{ 'annotations.selected'|trans }}</label>
              <div class="col-12" id="note-text"></div>
            </div>
            <div class="row">
              <label class="col-form-label col-12">{{ 'annotations.visibility.title'|trans }}</label>
              <div class="annotations-visibility col-12 owner">
                {% from _self import _visibilityButtons %}
                {{ _visibilityButtons() }}
              </div>
              <div class="annotations-visibility col-12 non-owner">
                {% from _self import _visibilityState %}
                {{ _visibilityState() }}
              </div>
            </div>
            <div class="row">
              <label class="col-form-label col-12">{{ 'annotations.discussion'|trans }}</label>
              <div class="col-12 annotations-note-container"></div>
            </div>
            {% from _self import _commentRow %}
            {{ _commentRow() }}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger annotations-close" data-dismiss="modal">
            <i class="fa fa-fw fa-times"></i> {{ 'general.close'|trans }}
          </button>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro _notePrototype() %}
  <div class="annotations-note">
    <div class="card">
      <div class="card-header note-header">
        <span class="author"></span> @ <span class="authored-time"></span>
      </div>
      <div class="card-body">
        <span class="remove text-danger text-right"><i class="fa fa-fw fa-trash"></i></span>
        <p class="card-text note"></p>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro _noteCollectionModal() %}
  <div class="modal fade annotations-modal collection" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title normal">{{ 'annotations.annotations'|trans }}</h5>
          <h5 class="modal-title outdated">{{ 'annotations.outdated-annotations'|trans }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body annotations-note-container"></div>
        <div class="modal-footer">
          <button class="btn btn-outline-danger annotations-close" data-dismiss="modal">
            <i class="fa fa-fw fa-times"></i> {{ 'general.close'|trans }}
          </button>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro _collectionNotePrototype() %}
  <div class="card annotations-note-collection">
    <div class="card-header">
      <span class="note-header">{{ 'annotations.note'|trans }}</span>
      <span class="mark-header">{{ 'annotations.mark'|trans }}</span>
    </div>
    <div class="card-body">
      <form> {# Keep form here for nice label formatting #}
        <div class="owner-remove">
          <div class="float-right" role="group" aria-label="Action bar">
            <button type="button" class="btn btn-outline-danger annotations-remove">
              <i class="fa fa-fw fa-spinner fa-spin"></i>
              <i class="fa fa-fw fa-trash"></i> Remove
            </button>
          </div>
        </div>
        <div class="row">
          <label class="col-form-label col-12">{{ 'annotations.selected'|trans }}</label>
          <div class="col-12 selected-text"></div>
        </div>
        <div class="row">
          <label class="col-form-label col-12">{{ 'annotations.visibility.title'|trans }}</label>
          <div class="annotations-visibility col-12 owner">
            {% from _self import _visibilityButtons %}
            {{ _visibilityButtons() }}
          </div>
          <div class="annotations-visibility col-12 non-owner">
            {% from _self import _visibilityState %}
            {{ _visibilityState() }}
          </div>
        </div>
        <div class="row">
          <label class="col-form-label col-12">{{ 'annotations.discussion'|trans }}</label>
          <div class="col-12 annotations-note-container"></div>
        </div>
        <div class="clearfix"></div>
        {% from _self import _commentRow %}
        {{ _commentRow() }}
      </form>
    </div>
  </div>
{% endmacro %}

{% macro _outdatedButtonPrototype() %}
  <div class="annotations-outdated-button">
    <button type="button" class="btn btn-outline-secondary">
      <i class="fa fa-fw fa-exclamation-triangle"></i> {{ 'annotations.outdated-button'|trans }}
    </button>
  </div>
{% endmacro %}

{% macro _failedModal() %}
  <div class="modal fade failed-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ 'modal.failed.title'|trans }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{ 'modal.failed.body'|trans }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary"
                  data-dismiss="modal">{{ 'general.close'|trans }}</button>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro all() %}
  {% import _self as annotations %}
  {{ annotations._createButtons() }}
  {{ annotations._contextButtons() }}
  {{ annotations._headerContextButton() }}
  {{ annotations._addModal() }}
  {{ annotations._notesModal() }}
  {{ annotations._notePrototype() }}
  {{ annotations._noteCollectionModal() }}
  {{ annotations._collectionNotePrototype() }}
  {{ annotations._outdatedButtonPrototype() }}
  {{ annotations._failedModal() }}
{% endmacro %}

{% macro toggle() %}
  <button class="btn btn-outline-dark annotations-toggle disabled"
          data-toggle="tooltip" title="{{ 'annotations.toggle'|trans }}">
    <i class="fa fa-comments"></i> {{ 'annotations.show.show'|trans }}:
    <span class="off">{{ 'annotations.show.off'|trans }}</span>
    <span class="own">{{ 'annotations.show.own'|trans }}</span>
    <span class="all">{{ 'annotations.show.all'|trans }}</span>
  </button>
{% endmacro %}
