{% macro reviewNotice(object) %}
  {% if reviewEnabled(object.studyArea|default(_twigStudyArea), object) %}
    {% from '_layout/flashbags.html.twig' import flashbag_alert %}
    {{ flashbag_alert('info', 'study-area.review-mode-notice'|trans, 'fa-info-circle', true) }}
  {% endif %}
{% endmacro %}

{% macro noteExcerpt(notes) %}
  {% if notes|length > 0 %}
    <span {% if notes|length > 50 %}title="{{ notes }}" data-toggle="tooltip"{% endif %}>
              {{ notes|length > 50 ? notes|slice(0, 50) ~ '...' : notes }}
            </span>
  {% else %}
    <div class="review-no-content">{{ 'review.empty-note'|trans }}</div>
  {% endif %}
{% endmacro %}

{% macro printText(text, ckeditor, original) %}
  {% if text is empty %}
    <div class="review-no-content">{{ 'review.empty-content'|trans }}</div>
  {% else %}
    {% if ckeditor|default(false) %}
      <div class="ltb-text-container">
        {% if original is not same as(false) %}
          <div class="diff-container">
            {{ htmldiff(original|striptags(allowed_ckeditor_tags), text|striptags(allowed_ckeditor_tags)) }}
          </div>
        {% else %}
          {{ text|striptags(allowed_ckeditor_tags)|raw }}
        {% endif %}
      </div>
    {% else %}
      {% if original is not same as(false) %}
        <div class="diff-container">
          {{ htmldiff(original, text) }}
        </div>
      {% else %}
        {{ text }}
      {% endif %}
    {% endif %}
  {% endif %}
{% endmacro %}
