{% extends 'single_column.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('analytics') }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('analytics') }}
{% endblock %}

{% block title %}
  {{ 'study-area.analytics-dashboard'|trans }}
{% endblock %}

{% block content %}
  <div class="analytics-dashboard">

    <h4>{{ 'analytics.input'|trans }}</h4>

    {{ form_start(form) }}

    <div class="row">
      <div class="col-12 col-sm-6 col-xl-3">
        {{ form_row(form.learningPath) }}
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        {{ form_row(form.teachingMoment) }}
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        {{ form_row(form.periodStart) }}
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        {{ form_row(form.periodEnd) }}
      </div>
      <div class="col-12 text-right">
        {{ form_row(form.generate) }}
      </div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

    <h4 class="result-title">{{ 'analytics.output'|trans }}</h4>
    <div class="row table-results" style="display: none">
      <div class="col-12 metadata">
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <tbody>
            <tr>
              <th>{{ 'analytics.users-in-period'|trans }}</th>
              <td id="metadata-users-in-period" class="text-right"></td>
            </tr>
            <tr>
              <th>{{ 'analytics.total-hits-on-path'|trans }}</th>
              <td id="metadata-total-hits-on-path" class="text-right"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row img-results" style="display: none">
      <div class="col-12 col-md-6 col-xl-4 heatmap">
      </div>
      <div class="col-12 col-md-6 col-xl-4 path-visits">
      </div>
      <div class="col-12 col-md-6 col-xl-4 path-users">
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="analytics-canvas-div">
          <div class="browser-results mt-2" style="display: none">
            <canvas id="analytics-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="analytics-modal" tabindex="-1" role="dialog" aria-labelledby="analytics-modal"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body custom"></div>
          <div class="modal-body default">{{ 'exception.error-text'|trans }}</div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline-primary">
              {{ 'general.close'|trans }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
