{% extends 'single_column.html.twig' %}

{% block before_title %}
  {% import '_macro/_action_buttons.html.twig' as buttons %}
  {{ buttons.header() }}
  {{ buttons.add_button(path('app_permissions_addadmin')) }}
  {{ buttons.footer() }}
{% endblock %}

{% block title %}
  {{ 'permissions.admin-list-title'|trans }}
{% endblock %}

{% block content %}
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">{{ 'user.display-name'|trans }}</th>
        <th scope="col">{{ 'user.emailaddress'|trans }}</th>
        <th scope="col">{{ 'form.remove'|trans }}</th>
      </tr>
      </thead>
      <tbody>
      {% for admin in admins %}
        <tr>
          <td>{{ admin.displayName }}</td>
          <td>{{ admin.username }}</td>
          <td>
            {% if app.user.id != admin.id %}
              <a href="{{ path('app_permissions_removeadmin', {'user': admin.id}) }}">{{ 'form.remove'|trans }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
