{% extends 'single_column.html.twig' %}

{% block title %}
  {{ 'permissions.study-area-title'|trans }}
{% endblock %}

{% block before_title %}
  {% if studyArea.accessType != constant('App\\Entity\\StudyArea::ACCESS_PRIVATE') %}
    {% import '_macro/_action_buttons.html.twig' as buttons %}
    {{ buttons.header() }}
    {{ buttons.add_button(path('app_permissions_addpermissions')) }}
    {{ buttons.remove_button(path('app_permissions_removeallpermissions'), false, 'permissions.remove-all-permissions') }}
    {{ buttons.footer() }}
  {% endif %}
{% endblock %}

{% macro type_header_cell(type) %}
  <th scope="col" class="text-center">
    {{ ('permissions.type.' ~ type)|trans }} <i class="sort"></i>
    <br/>
  </th>
{% endmacro %}

{% macro type_footer_cell(type) %}
  <td scope="col" class="text-center">
    {% import '_macro/_action_buttons.html.twig' as buttons %}
    {{ buttons.remove_button(path('app_permissions_removeallpermissionsfortype', {'groupType': type}), false, 'permissions.revoke-type'|trans) }}
  </td>
{% endmacro %}

{% macro has_permission(value) %}
  <td data-sort="{{ value ? 0 : 1 }}" class="text-center">
    {% if value %}
      <i class="fa fa-fw fa-check text-success"></i>
    {% else %}
      <i class="fa fa-fw fa-times text-danger"></i>
    {% endif %}
  </td>
{% endmacro %}

{% block content %}
  {% if studyArea.accessType == constant('App\\Entity\\StudyArea::ACCESS_PRIVATE') %}
    {{ 'permissions.study-area-not-group-or-public'|trans({'%item%': studyArea.name}) }}
    <a href="{{ path('app_studyarea_edit', {'studyArea': studyArea.id, 'permissions': true}) }}">
      {{ 'permissions.change-now'|trans }}.
    </a>
  {% else %}

    <p>{{ 'permissions.info-text'|trans }}</p>
    {% from _self import type_header_cell, type_footer_cell, has_permission %}
    {% import '_macro/_action_buttons.html.twig' as buttons %}

    <div class="table-responsive">
      <table id="permissions-table" class="table table-sm table-hover table-datatable table-bordered">
        <thead>
        <tr>
          <th scope="col">{{ 'user.display-name'|trans }}<i class="sort"></i></th>
          <th scope="col">{{ 'user.emailaddress'|trans }}<i class="sort"></i></th>
          {% for type in studyArea.availableUserGroupTypes %}
            {{ type_header_cell(type) }}
          {% endfor %}
          <th scope="col" class="actions">{{ 'form.revoke'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for userPermission in studyArea.userPermissions %}
          <tr>
            <td>{{ userPermission.displayName }}</td>
            <td>{{ userPermission.username }}</td>
            {% for type in studyArea.availableUserGroupTypes %}
              {{ has_permission(attribute(userPermission, type)) }}
            {% endfor %}
            <td class="actions">
              {% if userPermission.user %}
                {{ buttons.remove_button(path('app_permissions_removepermissions', {'user': userPermission.user.id}), false, 'permissions.revoke-user'|trans) }}
              {% else %}
                {{ buttons.remove_button(path('app_permissions_removeemailpermissions', {'email': userPermission.email.email|url_encode}), false, 'permissions.revoke-user'|trans) }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
          <th></th>
          <th></th>
          {% for type in studyArea.availableUserGroupTypes %}
            {{ type_footer_cell(type) }}
          {% endfor %}
          <th></th>
        </tr>
        </tfoot>
      </table>
    </div>
  {% endif %}
{% endblock %}

{% block javascripts_bottom %}
  {{ dataTable('permissions-table', {
    columnDefs: [{ searchable: false, orderable: false, targets: -1 }]
  }) }}
  <script type="text/javascript">
    $dataTable.on('search.dt', function () {
      var term = $dataTable.search();
      if (term === '') {
        $($dataTable.table().footer()).show();
      } else {
        $($dataTable.table().footer()).hide();
      }
    });
  </script>
{% endblock %}
