{% extends 'single_column.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <style type="text/css">
      #tracking-consent-dashboard {
          position: relative;
          display: none;
      }

      #tracking-consent-dashboard .tcd {
          display: none;
      }

      #tracking-consent-dashboard .tcd.tcd-unknown {
          display: block;
      }

      #tracking-consent-dashboard .tcd-loader {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(255, 255, 255, 0.9);
          text-align: center;
      }

      #tracking-consent-dashboard .tcd-loader > i {
          position: absolute;
          top: 40%
      }
  </style>

  {% from '_macro/_studyarea_select.html.twig' import select2_optgroup_css as select2_optgroup_css %}
  {{ select2_optgroup_css() }}
{% endblock %}

{% block javascripts_bottom %}
  <script type="text/javascript">
    // Load toggle behavior
    $(function () {
      var $elems = $('.concept-group-toggle[data-toggle="collapse"]');
      $elems.each(function () {
        var $button = $(this);
        var $target = $($button.data('target'));
        $target.on('show.bs.collapse', function () {
          $(this).addClass('collapse-opening');
          $button.closest('tr').find('.fa-folder-open').removeClass('d-none').addClass('d-inline-block');
          $button.closest('tr').find('.fa-folder').addClass('d-none').removeClass('d-inline-block');
        });
        $target.on('hide.bs.collapse', function () {
          $button.closest('tr').find('.fa-folder-open').addClass('d-none').removeClass('d-inline-block');
          $button.closest('tr').find('.fa-folder').removeClass('d-none').addClass('d-inline-block');
        });
        $target.on('shown.bs.collapse', function () {
          $(this).removeClass('collapse-opening');
        });
      });
    });
  </script>
{% endblock %}

{% block before_title %}
  {% import '_macro/_action_buttons.html.twig' as buttons %}
  {{ buttons.header() }}
  {{ buttons.browser_button(-1) }}

  {% if is_granted('STUDYAREA_EDIT', studyArea) %}
    {{ buttons.progress_button() }}
  {% endif %}

  {% if app.user and not is_granted('STUDYAREA_OWNER', studyArea) %}
    {{ buttons.remove_button(path('app_permissions_removeself'), false, 'permissions.remove-self'|trans) }}
  {% endif %}

  {% if is_granted('STUDYAREA_OWNER', studyArea) %}
    {{ buttons.transfer_owner_button(path('app_studyarea_transferowner', {studyArea: studyArea.id})) }}
    {{ buttons.edit_button(path('app_studyarea_edit', {studyArea: studyArea.id}), _twigStudyArea.isFrozen ? 'study-area.frozen'|trans : '') }}
    {{ studyArea.isFrozen ? buttons.unfreeze_button(path('app_studyarea_unfreeze', {studyArea: studyArea.id})) : buttons.freeze_button(path('app_studyarea_freeze', {studyArea: studyArea.id})) }}
    {{ buttons.remove_button(path('app_studyarea_remove', {studyArea: studyArea.id})) }}
  {% endif %}

  {{ buttons.footer() }}
{% endblock %}

{% block content_title %}
  <h2>{{ 'dashboard.study-area-text'|trans({'%studyArea%': studyArea.name}) }}</h2>
{% endblock %}

{% block content %}
  {% if studyArea.description is not null %}
    <div class="ltb-text-container">
      {{ studyArea.description|striptags(allowed_ckeditor_tags)|raw }}
    </div>
  {% endif %}

  {% if conceptCount != 0
    or instanceCount != 0
    or relationCount != 0
    or abbreviationCount != 0
    or contributorCount != 0
    or externalResourceCount != 0
    or learningOutcomeCount != 0
    or learningPathCount != 0
    or tagCount != 0 %}
    <p>{{ 'dashboard.study-area-contains'|trans() }}</p>
  {% else %}
    <p>{{ 'dashboard.study-area-empty'|trans() }}</p>
  {% endif %}
  <ul>
    {% if not studyArea.openAccess or conceptCount > 0 %}
      <li>
        {% if conceptCount > 0 %}<a href="{{ path('app_concept_list') }}">{% endif %}
          {{ 'dashboard.concept-count'|trans({'%count%': conceptCount}) }}
          {% if conceptCount > 0 %}</a>{% endif %}
      </li>
    {% endif %}
    {% if not studyArea.openAccess or instanceCount > 0 %}
      <li>
        {% if instanceCount > 0 %}<a href="{{ path('app_concept_listinstances') }}">{% endif %}
          {{ 'dashboard.instance-count'|trans({'%count%': instanceCount}) }}
          {% if instanceCount > 0 %}</a>{% endif %}
      </li>
    {% endif %}
    {% if not studyArea.openAccess or tagCount > 0 %}
      <li>
        {% if is_granted('STUDYAREA_OWNER', _twigStudyArea) and tagCount > 0 %}<a
            href="{{ path('app_tag_list') }}">{% endif %}
          {{ 'dashboard.tag-count'|trans({'%count%': tagCount}) }}
          {% if is_granted('STUDYAREA_OWNER', _twigStudyArea) and tagCount > 0 %}</a>{% endif %}
      </li>
    {% endif %}
    {% if not studyArea.openAccess or relationCount > 0 %}
      <li>
        {{ 'dashboard.relation-count'|trans({'%count%': relationCount}) }}
      </li>
    {% endif %}
    {% if not studyArea.openAccess or abbreviationCount > 0 %}
      <li>
        {% if abbreviationCount > 0 %}<a href="{{ path('app_abbreviation_list') }}">{% endif %}
          {{ 'dashboard.abbreviation-count'|trans({'%count%': abbreviationCount}) }}
          {% if abbreviationCount > 0 %}</a>{% endif %}
      </li>
    {% endif %}
    {% if not studyArea.openAccess or contributorCount > 0 %}
      <li>
        {% if contributorCount > 0 %}<a href="{{ path('app_contributor_list') }}">{% endif %}
          {{ 'dashboard.contributor-count'|trans({'%count%': contributorCount}) }}
          {% if contributorCount > 0 %}</a>{% endif %}
      </li>
    {% endif %}
    {% if not studyArea.openAccess or externalResourceCount > 0 %}
      <li>
        {% if externalResourceCount > 0 %}<a href="{{ path('app_externalresource_list') }}">{% endif %}
          {{ 'dashboard.external-resource-count'|trans({'%count%': externalResourceCount}) }}
          {% if externalResourceCount > 0 %}</a>{% endif %}
      </li>
    {% endif %}
    {% if not studyArea.openAccess or learningOutcomeCount > 0 %}
      <li>
        {% if learningOutcomeCount > 0 %}<a href="{{ path('app_learningoutcome_list') }}">{% endif %}
          {{ 'dashboard.learning-outcome-count'|trans({
            '%count%': learningOutcomeCount, '%singular%': naming.get.learningOutcome.obj, '%plural%': naming.get.learningOutcome.objs
          }) }}
          {% if learningOutcomeCount > 0 %}</a>{% endif %}
      </li>
    {% endif %}
    {% if not studyArea.openAccess or learningPathCount > 0 %}
      <li>
        {% if learningPathCount > 0 %}<a href="{{ path('app_learningpath_list') }}">{% endif %}
          {{ 'dashboard.learning-path-count'|trans({'%count%': learningPathCount}) }}
          {% if learningPathCount > 0 %}</a>{% endif %}
      </li>
    {% endif %}
    {% if is_granted('STUDYAREA_EDIT', studyArea) %}
      <li>
        {% if urlScanProgress %}
          <a href="{{ path('app_default_urlrescanstudyarea') }}">
            {{ 'dashboard.url-scan-progress'|trans }}
          </a>
        {% elseif urlScanned %}
          <a href="{{ path('app_default_urloverview') }}">
            {% if brokenUrlCount == -1 %}
              {{ 'dashboard.url-count-broken-not-scanned'|trans({'%count%': urlCount}) }}
            {% else %}
              {{ 'dashboard.url-count'|trans({'%count%': urlCount, '%brokenCount%': brokenUrlCount}) }}
            {% endif %}
          </a>
        {% else %}
          <a href="{{ path('app_default_urlrescanstudyarea') }}">
            {{ 'dashboard.url-not-scanned'|trans }}
          </a>
        {% endif %}
      </li>
    {% endif %}
  </ul>

  {% if studyArea.frozenOn %}
    <p>{{ 'dashboard.study-area-frozen'|trans({'%since%': studyArea.frozenOn|format_datetime('medium', 'short')}) }}</p>
  {% endif %}

  {% if studyArea.trackUsers %}
    <div id="tracking-consent-dashboard">
      <h4>{{ 'study-area.tracking-consent-title'|trans }}</h4>
      <p>
        <span>{{ 'study-area.tracking-consent-dashboard'|trans }}</span>
        <span class="tcd tcd-unknown">
        {{ 'study-area.tracking-consent-dashboard-unknown'|trans }}
      </span>
        <span class="tcd tcd-agreed">
          {{ 'study-area.tracking-consent-dashboard-agreed'|trans|striptags('<b>')|raw }}
          {{ 'study-area.tracking-consent-dashboard-toggle'|trans({'%url_start%': '<a href="#" onclick="toggleTrackingConsent(false)">', '%url_end%': '</a>'})|striptags('<a>')|raw }}
        </span>
        <span class="tcd tcd-disagreed">
          {{ 'study-area.tracking-consent-dashboard-disagreed'|trans|striptags('<b>')|raw }}
          {{ 'study-area.tracking-consent-dashboard-toggle'|trans({'%url_start%': '<a href="#" onclick="toggleTrackingConsent(true)">', '%url_end%': '</a>'})|striptags('<a>')|raw }}
       </span>
      </p>
      <div class="tcd tcd-loader">
        <i class="fa fa-circle-o-notch fa-spin"></i>
      </div>
    </div>

    <!--suppress JSUnusedLocalSymbols -->
    <script type="text/javascript">
      function toggleTrackingConsent(agree) {
        $('.tcd-loader').show();
        eDispatch.updateTrackingConsent(agree);
      }

      $(function () {
        var $tracking = $('#tracking-consent-dashboard');
        var $unknown = $tracking.find('.tcd-unknown');
        var $agreed = $tracking.find('.tcd-agreed');
        var $disagreed = $tracking.find('.tcd-disagreed');
        var $loader = $tracking.find('.tcd-loader');

        function loadTrackingConsent(agree) {
          $loader.hide();

          if (agree === null) {
            $unknown.show();
            $agreed.hide();
            $disagreed.hide();
          } else if (agree === 'true') {
            $unknown.hide();
            $agreed.show();
            $disagreed.hide();
          } else {
            $unknown.hide();
            $agreed.hide();
            $disagreed.show();
          }
        }

        // Only show when double column is detected
        window.addEventListener('double_column_detected', function () {
          $('#tracking-consent-dashboard').show();

          // Trigger null update to retrieve value through events
          eDispatch.updateTrackingConsent(null);
        });

        // Register event handler for changes
        window.addEventListener('tracking_consent', function (evt) {
          loadTrackingConsent(evt.detail);
        });
      });
    </script>
  {% endif %}

  {% if conceptCount > 0 or instanceCount > 0 %}
    <h4>{{ 'dashboard.search-concept'|trans }}</h4>
    {{ form_start(conceptForm) }}
    <div class="d-flex flex-row flex-wrap flex-md-no-wrap">
      <div class="mt-1 mw-md-100 flex-grow-1">
        {{ form_widget(conceptForm.concept) }}
      </div>
      <div class="mt-1 ml-auto ml-md-1">
        {{ form_widget(conceptForm.submit) }}
      </div>
    </div>

    <script type="text/javascript">
      $('#concept_form_concept').on('change', function () {
        $('#concept_form_submit').removeAttr('disabled');
      });

      $('#concept_form_submit').on('click', function () {
        eDispatch.showConcept(parseInt($('#concept_form_concept').val()));
        return false;
      });
    </script>

    {{ form_end(conceptForm) }}

    <div class="spacer"></div>
  {% endif %}

  {% if studyAreaForm is not null %}
    <h4>{{ 'dashboard.study-area-switch'|trans }}</h4>
    {{ form_start(studyAreaForm) }}
    <div class="d-flex flex-row flex-wrap flex-md-no-wrap">
      <div class="mt-1 mw-md-100 flex-grow-1">
        {{ form_widget(studyAreaForm.studyArea) }}
      </div>
      <div class="mt-1 ml-auto ml-md-1">
        {{ form_widget(studyAreaForm.submit) }}
      </div>
    </div>

    <script type="text/javascript">
      $('#studyarea_form_studyArea').on('change', function () {
        $('#studyarea_form_submit').removeAttr('disabled');
      });

      $('#studyarea_form_submit').on('click', function () {
        if (typeof inDoubleColumn !== 'undefined' && inDoubleColumn) {
          eDispatch.pageLoad(Routing.generate('_home', {'_studyArea': $('#studyarea_form_studyArea').val()}, false), {topLevel: true});
        } else {
          window.location.href = Routing.generate('_home', {'_studyArea': $('#studyarea_form_studyArea').val()}, true);
        }
        return false;
      });
    </script>

    {{ form_end(studyAreaForm) }}
  {% elseif app.user %}
    {% import '_macro/_action_buttons.html.twig' as buttons %}

    <h4>{{ 'dashboard.study-area-create'|trans }}</h4>
    {{ buttons.add_button(path('app_studyarea_add')) }}
  {% endif %}
{% endblock %}

{% block second_content %}
  {% if studyAreaForm is not null %}
    {% import '_macro/_action_buttons.html.twig' as buttons %}
    <div class="card container-card">
      <div class="card-body">
        {% if app.user %}
          {{ buttons.header() }}
          {{ buttons.add_button(path('app_studyarea_add')) }}
          {% if is_granted('ROLE_SUPER_ADMIN') %}
            {{ buttons._action_button(path('app_studyarea_listgroups'), 'fa-folder', 'study-area.groups.groups-short', 'dark') }}
          {% endif %}
          {{ buttons.footer() }}
        {% endif %}

        <h1>{{ 'study-area.list-title'|trans }}</h1>

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">{{ 'study-area.name'|trans }}</th>
              <th scope="col">{{ 'study-area.owner'|trans }}</th>
              <th scope="col">{{ 'study-area.access-type'|trans }}</th>
              <th scope="col" class="actions">{{ 'form.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% set group = -1 %}
            {% for studyArea in studyAreas %}
              {% if group != studyArea.groupId %}
                {% set group = studyArea.groupId %}
                <tr>
                  <th colspan="3">
                    <i class="fa fa-fw fa-folder-open d-none"></i>
                    <i class="fa fa-fw fa-folder"></i>
                    {{ studyArea.group ? studyArea.group.name : 'study-area.groups.default-name'|trans }}
                  </th>
                  <td class="actions">
                    <button class="btn btn-outline-primary concept-group-toggle collapsed collapsed-show"
                            data-toggle="collapse" data-target=".collapse-group-{{ group }}">
                      <i class="fa fa-fw fa-search-plus"></i> {{ 'study-area.groups.show-contents'|trans }}
                    </button>
                    <button class="btn btn-outline-primary d-none collapsed collapsed-hidden"
                            data-toggle="collapse" data-target=".collapse-group-{{ group }}">
                      <i class="fa fa-fw fa-search-minus"></i> {{ 'study-area.groups.hide-contents'|trans }}
                    </button>
                  </td>
                </tr>
              {% endif %}

              <tr class="collapse collapse-group-{{ group }}">
                <td>
                  <div class="collapse collapse-group-{{ group }} pl-4">
                    {{ studyArea.name }}
                  </div>
                </td>
                <td>
                  <div class="collapse collapse-group-{{ group }}">
                    {% if is_granted('STUDYAREA_OWNER', studyArea) %}
                      <a href="{{ path('app_studyarea_transferowner', {studyArea: studyArea.id}) }}"
                         data-toggle="tooltip" title="{{ 'study-area.transfer-ownership'|trans }}">
                        {{ studyArea.owner.displayName }}</a>
                    {% else %}
                      {{ studyArea.owner.displayName }}
                    {% endif %}
                  </div>
                </td>
                <td>
                  <div class="collapse collapse-group-{{ group }}">{{ studyArea.accessType|capitalize }}</div>
                </td>
                <td class="actions">
                  <div class="collapse collapse-group-{{ group }}">
                    {{ buttons._action_button(
                      path('_home', {_studyArea: studyArea.id}), 'fa-exchange', 'study-area.switch-to',
                      'primary top-level', false, false, studyArea.id == currentStudyArea.id ? 'study-area.current'|trans : false
                    ) }}

                    {% if is_granted('STUDYAREA_OWNER', studyArea) %}
                      {{ buttons.edit_button(path('app_studyarea_edit', {studyArea: studyArea.id}), studyArea.isFrozen ? 'study-area.frozen'|trans : false) }}
                      {{ buttons.remove_button(path('app_studyarea_remove', {studyArea: studyArea.id})) }}
                    {% endif %}
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
