{% extends 'single_column.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <style type="text/css">
    #tracking-consent-dashboard {
      position: relative;
      display: none;
    }

    #tracking-consent-dashboard .tcd {
      display: none;
    }

    #tracking-consent-dashboard .tcd.tcd-unknown {
      display: block;
    }

    #tracking-consent-dashboard .tcd-loader {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.9);
      text-align: center;
    }

    #tracking-consent-dashboard .tcd-loader > i {
      position: absolute;
      top: 40%
    }
  </style>
{% endblock %}

{% block before_title %}
  {% import '_macro/_action_buttons.html.twig' as buttons %}
  {{ buttons.header() }}
  {{ buttons.browser_button(-1) }}
  {{ is_granted('STUDYAREA_EDIT', studyArea) ? buttons.progress_button() : '' }}
  {{ is_granted('STUDYAREA_OWNER', studyArea) ? '' : buttons.remove_button(path('app_permissions_removeself'), false, 'permissions.remove-self'|trans) }}
  {% if is_granted('STUDYAREA_OWNER', studyArea) %}
    {{ buttons.transfer_owner_button(path('app_studyarea_transferowner', { studyArea: studyArea.id })) }}
    {{ buttons.edit_button(path('app_studyarea_edit', {'studyArea': studyArea.id}), _twigStudyArea.isFrozen ? 'study-area.frozen'|trans : '') }}
    {{ studyArea.isFrozen ? buttons.unfreeze_button(path('app_studyarea_unfreeze', { studyArea: studyArea.id })) : buttons.freeze_button(path('app_studyarea_freeze', { studyArea: studyArea.id })) }}
    {{ buttons.remove_button(path('app_studyarea_remove', {'studyArea': studyArea.id})) }}
  {% endif %}
  {{ buttons.footer() }}
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
  <h2>{{ 'dashboard.study-area-text'|trans({'%studyArea%': studyArea.name}) }}</h2>

  {% if studyArea.description is not null %}
    <div class="ltb-text-container">
      {{ studyArea.description|striptags(allowed_ckeditor_tags)|raw }}
    </div>
  {% endif %}

  <p>{{ 'dashboard.study-area-contains'|trans() }}</p>
  <ul>
    <li>
      {% if conceptCount > 0 %}<a href="{{ path('app_concept_list') }}">{% endif %}
        {{ 'dashboard.concept-count'|trans({'%count%': conceptCount}) }}
        {% if conceptCount > 0 %}</a>{% endif %}
    </li>
    <li>
      {{ 'dashboard.relation-count'|trans({'%count%': relationCount}) }}
    </li>
    <li>
      {% if abbreviationCount > 0 %}<a href="{{ path('app_abbreviation_list') }}">{% endif %}
        {{ 'dashboard.abbreviation-count'|trans({'%count%': abbreviationCount}) }}
        {% if abbreviationCount > 0 %}</a>{% endif %}
    </li>
    <li>
      {% if externalResourceCount > 0 %}<a href="{{ path('app_externalresource_list') }}">{% endif %}
        {{ 'dashboard.external-resource-count'|trans({'%count%': externalResourceCount}) }}
        {% if externalResourceCount > 0 %}</a>{% endif %}
    </li>
    <li>
      {% if learningOutcomeCount > 0 %}<a href="{{ path('app_learningoutcome_list') }}">{% endif %}
        {{ 'dashboard.learning-outcome-count'|trans({'%count%': learningOutcomeCount}) }}
        {% if learningOutcomeCount > 0 %}</a>{% endif %}
    </li>
    <li>
      {% if learningPathCount > 0 %}<a href="{{ path('app_learningpath_list') }}">{% endif %}
        {{ 'dashboard.learning-path-count'|trans({'%count%': learningPathCount}) }}
        {% if learningPathCount > 0 %}</a>{% endif %}
    </li>
    {% if is_granted('STUDYAREA_EDIT', studyArea) %}
      <li>
        {% if urlScanProgress %}
          <a href="{{ path('app_default_urlrescanstudyarea') }}">
            {{ 'dashboard.url-scan-progress'|trans }}
          </a>
        {% elseif urlScanned %}
          <a href="{{ path('app_default_urloverview') }}">
            {% if brokenUrlCount == -1 %}
              {{ 'dashboard.url-count-broken-not-scanned'|trans({'%count%': urlCount}) }}
            {% else %}
              {{ 'dashboard.url-count'|trans({'%count%': urlCount, '%brokenCount%': brokenUrlCount}) }}
            {% endif %}
          </a>
        {% else %}
          <a href="{{ path('app_default_urlrescanstudyarea') }}">
            {{ 'dashboard.url-not-scanned'|trans }}
          </a>
        {% endif %}
      </li>
    {% endif %}
  </ul>

  {% if studyArea.frozenOn %}
    <p>{{ 'dashboard.study-area-frozen'|trans({'%since%': studyArea.frozenOn|localizeddate('medium', 'short') }) }}</p>
  {% endif %}

  {% if studyArea.trackUsers %}
    <div id="tracking-consent-dashboard">
      <h4>{{ 'study-area.tracking-consent-title'|trans }}</h4>
      <p>
        <span>{{ 'study-area.tracking-consent-dashboard'|trans }}</span>
        <span class="tcd tcd-unknown">
        {{ 'study-area.tracking-consent-dashboard-unknown'|trans }}
      </span>
        <span class="tcd tcd-agreed">
          {{ 'study-area.tracking-consent-dashboard-agreed'|trans|striptags('<b>')|raw }}
          {{ 'study-area.tracking-consent-dashboard-toggle'|trans({'%url_start%': '<a href="#" onclick="toggleTrackingConsent(false)">', '%url_end%': '</a>'})|striptags('<a>')|raw }}
        </span>
        <span class="tcd tcd-disagreed">
          {{ 'study-area.tracking-consent-dashboard-disagreed'|trans|striptags('<b>')|raw }}
          {{ 'study-area.tracking-consent-dashboard-toggle'|trans({'%url_start%': '<a href="#" onclick="toggleTrackingConsent(true)">', '%url_end%': '</a>'})|striptags('<a>')|raw }}
       </span>
      </p>
      <div class="tcd tcd-loader">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
    </div>

    <!--suppress JSUnusedLocalSymbols -->
    <script type="text/javascript">
      function toggleTrackingConsent(agree) {
        $('.tcd-loader').show();
        eDispatch.updateTrackingConsent(agree);
      }

      $(function () {
        var $tracking = $('#tracking-consent-dashboard');
        var $unknown = $tracking.find('.tcd-unknown');
        var $agreed = $tracking.find('.tcd-agreed');
        var $disagreed = $tracking.find('.tcd-disagreed');
        var $loader = $tracking.find('.tcd-loader');

        function loadTrackingConsent(agree) {
          $loader.hide();

          if (agree === null) {
            $unknown.show();
            $agreed.hide();
            $disagreed.hide();
          } else if (agree === 'true') {
            $unknown.hide();
            $agreed.show();
            $disagreed.hide();
          } else {
            $unknown.hide();
            $agreed.hide();
            $disagreed.show();
          }
        }

        // Only show when double column is detected
        window.addEventListener('double_column_detected', function () {
          $('#tracking-consent-dashboard').show();

          // Trigger null update to retrieve value through events
          eDispatch.updateTrackingConsent(null);
        });

        // Register event handler for changes
        window.addEventListener('tracking_consent', function (evt) {
          loadTrackingConsent(evt.detail);
        });
      });

      // Load toggle behavior
      $(function () {
        var $elems = $('.concept-group-toggle[data-toggle="collapse"]');
        $elems.each(function () {
          var target = $(this).data('target');
          $(target).on('show.bs.collapse', function (e) {
            $(this).addClass('collapse-opening');
          });
          $(target).on('shown.bs.collapse', function (e) {
            $(this).removeClass('collapse-opening');
          });
        });
      });
    </script>
  {% endif %}

  <h4>{{ 'dashboard.search-concept'|trans }}</h4>
  {{ form_start(conceptForm) }}
  <div class="row">
    <div class="col-sm-12 col-md-5 col-xl-3 mt-1">
      {{ form_widget(conceptForm.concept) }}
    </div>
    <div class="col mt-1">
      <div class="float-right float-md-left">
        {{ form_widget(conceptForm.submit) }}
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $('#concept_form_concept').on('change', function () {
      $('#concept_form_submit').removeAttr('disabled');
    });

    $('#concept_form_submit').on('click', function () {
      eDispatch.showConcept(parseInt($('#concept_form_concept').val()));
      return false;
    });
  </script>

  {{ form_end(conceptForm) }}

  <div class="spacer"></div>

  {% if studyAreaForm is not null %}
    <h4>{{ 'dashboard.study-area-switch'|trans }}</h4>
    {{ form_start(studyAreaForm) }}
    <div class="row">
      <div class="col-sm-12 col-md-5 col-xl-3 mt-1">
        {{ form_widget(studyAreaForm.studyArea) }}
      </div>
      <div class="col mt-1">
        <div class="float-right float-md-left">
          {{ form_widget(studyAreaForm.submit) }}
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $('#studyarea_form_studyArea').on('change', function () {
        $('#studyarea_form_submit').removeAttr('disabled');
      });

      $('#studyarea_form_submit').on('click', function () {
        if (typeof inDoubleColumn !== 'undefined' && inDoubleColumn) {
          eDispatch.pageLoad(Routing.generate('_home', {'_studyArea': $('#studyarea_form_studyArea').val()}, false), {topLevel: true});
        } else {
          window.location.href = Routing.generate('_home', {'_studyArea': $('#studyarea_form_studyArea').val()}, true);
        }
        return false;
      });
    </script>

    {{ form_end(studyAreaForm) }}
  {% endif %}
{% endblock %}

{% block second_content %}
  {% if studyAreaForm is not null %}
    {% import '_macro/_action_buttons.html.twig' as buttons %}
    <div class="card container-card">
      <div class="card-body">
        {% import '_macro/_action_buttons.html.twig' as buttons %}
        {{ buttons.header() }}
        {{ buttons.add_button(path('app_studyarea_add')) }}
        {{ buttons._action_button(path('app_studyarea_listgroups'), 'fa-folder', 'study-area.groups.groups-short', 'dark') }}
        {{ buttons.footer() }}

        <h1>{{ 'study-area.list-title'|trans }}</h1>

        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">{{ 'study-area.name'|trans }}</th>
              <th scope="col">{{ 'study-area.owner'|trans }}</th>
              <th scope="col">{{ 'study-area.access-type'|trans }}</th>
              <th scope="col" class="actions">{{ 'form.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% set group = null %}
            {% for studyArea in studyAreas %}
              {% if studyArea.group is not null and group != studyArea.group.id|default(null) %}
                {% set group = studyArea.group.id %}
                <tr>
                  <th colspan="3">
                    {{ studyArea.group.name }}
                  </th>
                  <td class="actions">
                    <button class="btn btn-outline-primary concept-group-toggle collapsed collapsed-show"
                            data-toggle="collapse" data-target=".collapse-group-{{ group }}">
                      <i class="fa fa-fw fa-search-plus"></i> {{ 'study-area.groups.show-contents'|trans }}
                    </button>
                    <button class="btn btn-outline-primary d-none collapsed collapsed-hidden"
                            data-toggle="collapse" data-target=".collapse-group-{{ group }}">
                      <i class="fa fa-fw fa-search-minus"></i> {{ 'study-area.groups.hide-contents'|trans }}
                    </button>
                  </td>
                </tr>
              {% endif %}

              <tr {% if studyArea.group %}class="collapse collapse-group-{{ group }}"{% endif %}>
                <td>
                  <div
                      {% if studyArea.group %}class="collapse collapse-group-{{ group }}"{% endif %}>{{ studyArea.name }}</div>
                </td>
                <td>
                  <div {% if studyArea.group %}class="collapse collapse-group-{{ group }}"{% endif %}>
                    {% if is_granted('STUDYAREA_OWNER', studyArea) %}
                      <a href="{{ path('app_studyarea_transferowner', {'studyArea': studyArea.id}) }}"
                         data-toggle="tooltip" title="{{ 'study-area.transfer-ownership'|trans }}">
                        {{ studyArea.owner.displayName }}</a>
                    {% else %}
                      {{ studyArea.owner.displayName }}
                    {% endif %}
                  </div>
                </td>
                <td>
                  <div
                      {% if studyArea.group %}class="collapse collapse-group-{{ group }}"{% endif %}>{{ studyArea.accessType|capitalize }}</div>
                </td>
                <td class="actions">
                  <div {% if studyArea.group %}class="collapse collapse-group-{{ group }}"{% endif %}>
                    {{ buttons._action_button(
                      path('_home', {'_studyArea': studyArea.id}), 'fa-exchange', 'study-area.switch-to'|trans,
                      'primary top-level', false, false, studyArea.id == currentStudyArea.id ? 'study-area.current'|trans : false
                    ) }}

                    {% if is_granted('STUDYAREA_OWNER', studyArea) %}
                      {{ buttons.edit_button(path('app_studyarea_edit', {'studyArea': studyArea.id}), studyArea.isFrozen ? 'study-area.frozen'|trans : false) }}
                      {{ buttons.remove_button(path('app_studyarea_remove', {'studyArea': studyArea.id})) }}
                    {% endif %}
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
