{% extends 'simple_card.html.twig' %}

{% block title %}
  {{ 'app.welcome'|trans }}
{% endblock %}

{% block extra_card_class %}landing-page{% endblock %}

{% block license %}
  The contents of this website is licensed under a
  <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode" target="_blank">
    Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International
  </a> license.
  <br/>
  The software and content of this website were developed by the
  <a href="https://www.itc.nl" target="_blank">Faculty ITC</a>
  from the
  <a href="https://www.utwente.nl" target="_blank">University of Twente</a>.
{% endblock %}

{% block content %}

  <p>{{ 'app.welcome-text'|trans }}</p>

  {% block enter %}
    {% if studyAreaForm is defined and studyAreaForm is not null %}
      <h4>{{ 'dashboard.study-area-landing'|trans }}</h4>
      {{ form_start(studyAreaForm) }}
      <div class="d-flex flex-row flex-wrap flex-md-no-wrap">
        <div class="mt-1 mw-md-100 flex-grow-1">
          {{ form_widget(studyAreaForm.studyArea) }}
        </div>
        <div class="mt-1 ml-auto ml-md-1">
          {{ form_widget(studyAreaForm.submit) }}
        </div>
      </div>

      <script type="text/javascript">
        $('#studyarea_form_studyArea').on('change', function () {
          $('#studyarea_form_submit').removeAttr('disabled');
        });

        $('#studyarea_form_submit').on('click', function () {
          window.location.href = Routing.generate('_home', {'_studyArea': $('#studyarea_form_studyArea').val()}, true);
          return false;
        });
      </script>

      {{ form_end(studyAreaForm) }}
    {% else %}
      <div class="row">
        <div class="col-sm-12 col-md-5 col-xl-3 mt-1">
          <a href="{{ path('_home') }}" class="btn btn-outline-primary">{{ 'dashboard.open'|trans }}</a>
        </div>
      </div>
    {% endif %}

  {% endblock %}

  <div class="spacer"></div>

  {% block delete_notice %}
    <p>{{ 'app.delete-notice'|trans }}</p>
  {% endblock %}

  <div class="license-notice">
    <div class="license-image"></div>
    <p>
      {{ block('license') }}
    </p>
  </div>

{% endblock %}
