{% extends 'single_column.html.twig' %}

{% block before_title %}
  {% from '_macro/_action_bar.html.twig' import action_button %}
  {{ action_button(path('app_default_urlrescanstudyarea'), 'fa-repeat', 'url.rescan-study-area'|trans, 'warning') }}
{% endblock %}

{% block title %}
  {{ 'url.overview-title'|trans }}
{% endblock %}

{% block content %}
  {% if urls is iterable %}
    <p>
      {{ 'url.last-scanned'|trans({'%date%': urls.lastScanned|date('d M Y H:i')}) }}
    </p>

    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">{{ 'url.url'|trans }}</th>
          <th scope="col">{{ 'url.status'|trans }}</th>
          <th scope="col">{{ 'form.edit'|trans }}</th>
          <th scope="col">{{ 'url.rescan'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for url in urls.urls %}
          {% if url.context.class == 'App\\Entity\\StudyArea' %}
            {% set description = 'url.study-area-path' %}
            {% set editUrl = path('app_studyarea_edit', {'studyArea': url.context.id}) %}
            {% set descriptionArgs = {'%path%': ('study-area.' ~ url.context.pathAsTransKey)|trans} %}
          {% elseif url.context.class == 'App\\Entity\\Concept' %}
            {% set description = 'url.concept-path' %}
            {% set editUrl = path('app_concept_edit', {'concept': url.context.id}) %}
            {% set descriptionArgs = {'%path%': ('concept.' ~ url.context.pathAsTransKey)|trans} %}
          {% elseif url.context.class == 'App\\Entity\\LearningOutcome' %}
            {% set description = 'url.learning-outcome-path' %}
            {% set editUrl = path('app_learningoutcome_edit', {'learningOutcome': url.context.id}) %}
            {% set descriptionArgs = {'%path%': ('learning-outcome.' ~ url.context.pathAsTransKey)|trans} %}
          {% elseif url.context.class == 'App\\Entity\\ExternalResource' %}
            {% set description = 'url.external-resource-path' %}
            {% set editUrl = path('app_externalresource_edit', {'externalResource': url.context.id}) %}
            {% set descriptionArgs = {'%path%': ('external-resource.' ~ url.context.pathAsTransKey)|trans} %}
          {% elseif url.context.class == 'App\\Entity\\LearningPath' %}
            {% set description = 'url.learning-path-path' %}
            {% set editUrl = path('app_learningpath_edit', {'learningPath': url.context.id}) %}
            {% set descriptionArgs = {'%path%': ('learning-path.' ~ url.context.pathAsTransKey)|trans} %}
          {% else %}
            {% set description = 'url.unknown' %}
            {% set editUrl = '' %}
          {% endif %}
          <tr>
            <td><a href="{{ url.url }}" target="_blank">{{ url.url }}</a></td>
            <td>
              {% if url.url in badUrls %}
                {% if url.internal %}
                  {{ 'url.internal-wrong'|trans }}
                {% else %}
                  {{ 'url.bad'|trans }}
                {% endif %}
              {% elseif url.url in unscannedUrls %}
                {{ 'url.unscanned'|trans }}
              {% else %}
                {{ 'url.good'|trans }}
              {% endif %}
            </td>
            <td>
              {% if editUrl != '' %}
                <a href="{{ editUrl }}">{{ description|trans(descriptionArgs) }}</a>
              {% else %}
                {{ description|trans }}
              {% endif %}
            </td>
            <td>
              <a class="btn btn-outline-primary"
                 href="{{ path('app_default_urlrescan', {'url': url.url|url_encode}) }}">
                <i class="fa fa-fw fa-repeat"></i>
                {{ 'url.rescan'|trans }}</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    {{ 'url.urls-unscanned'|trans }}
  {% endif %}
{% endblock %}
