{% extends 'single_column.html.twig' %}

{% block before_title %}
    {% from '_macro/_action_bar.html.twig' import action_button %}
    {{ action_button(path('app_studyarea_rescanUrls'), 'fa-repeat', 'url.rescan-study-area'|trans, 'warning') }}
{% endblock %}

{% block title %}
  {{ 'url.overview-title'|trans }}
{% endblock %}

{% block content %}
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">{{ 'url.url'|trans }}</th>
        <th scope="col">{{ 'url.status'|trans }}</th>
        <th scope="col">{{ 'form.edit'|trans }}</th>
        <th scope="col">{{ 'url.rescan'|trans }}</th>
      </tr>
      </thead>
      <tbody>
      {% for id, urlDescription in urls %}
        {% for url in urlDescription %}
          {% set descriptionArgs = {'%path%': url.context.path} %}
          {% if url.context.class == 'App\\Entity\\StudyArea' %}
            {% set description = 'url.study-area-path' %}
            {% set editUrl = path('app_studyarea_edit', {'studyArea': id}) %}
          {% elseif url.context.class == 'App\\Entity\\Concept' %}
            {% set description = 'url.concept-path' %}
            {% set editUrl = path('app_concept_edit', {'concept': id}) %}
          {% elseif url.context.class == 'App\\Entity\\LearningOutcome' %}
            {% set description = 'url.learning-outcome-path' %}
            {% set editUrl = path('app_learningoutcome_edit', {'learningOutcome': id}) %}
          {% elseif url.context.class == 'App\\Entity\\ExternalResource' %}
            {% set description = 'url.external-resource-path' %}
            {% set editUrl = path('app_externalresource_edit', {'externalResource': id}) %}
          {% else %}
            {% set description = 'url.unknown' %}
            {% set editUrl = '' %}
          {% endif %}
          <tr>
            <td><a href="{{ url.url }}">{{ url.url }}</a></td>
            <td>{% if url.url in badUrls %}{% if url.internal %}{{ 'url.internal-wrong'|trans }}{% else %}{{ 'url.bad'|trans }}{% endif %}{% else %}{{ 'url.good'|trans }}{% endif %}</td>
            <td>{% if editUrl != '' %}<a href="{{ editUrl }}">{{ description|trans(descriptionArgs) }}</a>{% else %}{{ description|trans }}{% endif %}
            </td>
            <td>
              <a href="{{ path('app_studyarea_rescanUrl', {'url': url.url|url_encode}) }}">{{ 'url.rescan'|trans }}</a>
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}