{% extends 'single_column.html.twig' %}

{% block before_title %}
  {% if is_granted('STUDYAREA_EDIT', studyArea) %}
    {% import '_macro/_action_buttons.html.twig' as buttons %}
    {{ buttons.header() }}
    {{ buttons.add_button(path('app_learningpath_add'), _twigStudyArea.isFrozen ? 'study-area.frozen'|trans : '') }}
    {{ buttons.footer() }}
  {% endif %}
{% endblock %}

{% block title %}
  {{ 'learning-path.list-title'|trans }}
{% endblock %}

{% block content %}
  {% import '_macro/_action_buttons.html.twig' as buttons %}
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">{{ 'learning-path.name'|trans }}</th>
        <th scope="col">{{ 'learning-path.open'|trans }}</th>
        <th scope="col" class="actions">{{ 'form.actions'|trans }}</th>
      </tr>
      </thead>
      <tbody>
      {% for learningPath in learningPaths %}
        <tr>
          <td>{{ learningPath.name }}</td>
          <td>
            <a href="#" class="btn btn-outline-primary"
               onclick="eDispatch.openLearningPathBrowser({{- learningPath.id -}})">
              <i class="fa fa-fw fa-road"></i> {{ 'learning-path.open'|trans }}
            </a>
          </td>
          <td class="actions">
            {% if is_granted('STUDYAREA_PRINT', learningPath.studyArea) %}
              {{ buttons.print_button(path('app_print_printlearningpath', {'learningPath': learningPath.id})) }}
            {% endif %}
            {{ buttons.show_button(path('app_learningpath_show', {'learningPath': learningPath.id})) }}
            {% if is_granted('STUDYAREA_EDIT', studyArea) %}
              {{ buttons.edit_button_disabled_when_frozen(path('app_learningpath_edit', {'learningPath': learningPath.id})) }}
              {{ buttons.remove_button_disabled_when_frozen(path('app_learningpath_remove', {'learningPath': learningPath.id})) }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
