{% extends 'single_column.html.twig' %}

{% block before_title %}
  {% from '_macro/_action_bar.html.twig' import action_bar %}
  {{ action_bar(
    is_granted('STUDYAREA_EDIT', _twigStudyArea) ? path('app_learningpath_edit', {'learningPath': learningPath.id}): false,
    false,
    path('app_learningpath_list'),
    false,
    is_granted('STUDYAREA_EDIT', _twigStudyArea) ? path('app_learningpath_remove', {'learningPath': learningPath.id}) : false
  ) }}
{% endblock %}

{% block title %}
  {{ learningPath.name }}
{% endblock %}

{% block content %}
  <div class="ltb-text-container">
    {{ learningPath.question }}
  </div>

  {% for element in learningPath.elementsOrdered %}
    <div class="ltb-learning-path-element{% if element.description is null %} no-description{% endif %}">
      <div class="path-layout"></div>
      <div class="item">
        <b><a href="{{ path('app_concept_show', {concept: element.concept.id}) }}">{{ element.concept.name }}</a></b>
        <p>{{ element.description }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock %}
