{% extends 'single_column.html.twig' %}

{% block before_title %}
  {% import '_macro/_action_buttons.html.twig' as buttons %}
  {{ buttons.header() }}
  {{ buttons.list_button(path('app_learningpath_list')) }}
  {{ buttons.learning_path_button(learningPath.id) }}
  {% if is_granted('STUDYAREA_EDIT', _twigStudyArea) %}
    {{ buttons.edit_button(path('app_learningpath_edit', {'learningPath': learningPath.id}), _twigStudyArea.isFrozen, 'study-area.frozen'|trans) }}
    {{ buttons.remove_button(path('app_learningpath_remove', {'learningPath': learningPath.id}), _twigStudyArea.isFrozen, 'study-area.frozen'|trans) }}
    {{ buttons.add_button(path('app_learningpath_add'), _twigStudyArea.isFrozen, 'study-area.frozen'|trans) }}
  {% endif %}
  {{ buttons.footer() }}
{% endblock %}

{% block title %}
  {{ learningPath.name }}
{% endblock %}

{% block content %}

  {% if learningPath.introduction %}
    <div class="ltb-text-container">
      {{ learningPath.introduction|striptags(allowed_ckeditor_tags)|raw }}
    </div>

    <h3>{{ 'learning-path.question'|trans }}</h3>
  {% endif %}
  <div class="ltb-text-container">
    {{ learningPath.question }}
  </div>

  <h2>{{ 'learning-path.path'|trans }}</h2>
  {% for element in learningPath.elementsOrdered %}
    <div class="ltb-learning-path-element{% if element.description is null %} no-description{% endif %}">
      <div class="path-layout"></div>
      <div class="item">
        <b><a href="{{ path('app_concept_show', {concept: element.concept.id}) }}">
            {{ loop.index }}. {{ element.concept.name }}</a></b>
        <p>{{ element.description }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock %}
