{# Collection widget to add collection edit support #}
{% block collection_row -%}
  {{- block("form_header") -}}

  {%- if expanded is defined and expanded -%}
    {{ block('fieldset_form_row') }}
  {%- else -%}
    <div class="form-group row">
      {{- form_label(form) -}}
      <div class="{{ block('form_group_class') }}">
        {{- form_widget(form) -}}
      </div>
    </div>
  {%- endif -%}
{% endblock %}

{% block collection_widget -%}
  {# Copied from plugin https://github.com/ninsuo/symfony-collection/blob/master/jquery.collection.html.twig #}
  {%- if prototype is defined -%}
    {%- set attr = attr|merge({'data-prototype': form_row(prototype)}) -%}
    {%- set attr = attr|merge({'data-prototype-name': prototype.vars.name}) -%}
  {%- endif -%}
  {%- set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) -%}
  {%- set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) -%}
  {%- set attr = attr|merge({'data-name-prefix': full_name}) -%}

  {%- if errors|length > 0 -%}
    <div class="alert alert-danger">
      <ul class="list-unstyled mb-0">
        {%- for error in errors -%}
          <li><i class="fa fa-exclamation-circle"></i> {{ error.message }}</li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif %}

  {# Render normal widget #}
  {{- block('form_widget') -}}

  {# Enable plugin for form #}
  {% set allow_move_calc = allow_move is not defined or (allow_move is defined and allow_move) %}
  <script type="text/javascript">
    $('#{{ id }}').collection({
      add: '<a href="#" class="collection-rescue-add btn btn-outline-secondary"><i class="fa fa-plus fa-fw"></i></a>',
      allow_down: {{ allow_move_calc ? 'true' : 'false' }},
      allow_up: {{ allow_move_calc ? 'true' : 'false' }}
      {% if position_selector is defined %}, position_field_selector: '.{{ position_selector }}'{% endif %}
    });
  </script>
{%- endblock %}

{% block collection_widget_data_row -%}
  <div class="card card-collection">
    <div class="card-body">{{ form_row(form) }}</div>
  </div>
{%- endblock %}

{% block collection_buttons %}
  <div class="text-right">
    <a href="#" class="collection-up btn btn-outline-secondary"><i class="fa fa-step-backward fa-fw"></i></a>
    <a href="#" class="collection-remove btn btn-outline-secondary"><i class="fa fa-minus fa-fw"></i></a>
    <a href="#" class="collection-add btn btn-outline-secondary"><i class="fa fa-plus fa-fw"></i></a>
    <a href="#" class="collection-down btn btn-outline-secondary"><i class="fa fa-step-forward fa-fw"></i></a>
  </div>
{% endblock %}

{% block collection_widget_data_widget -%}
  {{ form_widget(form) }}
  {{ block('collection_buttons') }}
{%- endblock %}

{% block external_resource_row -%}
  {{- block('collection_widget_data_row') -}}
{%- endblock %}

{% block external_resource_widget -%}
  {{- block('collection_widget_data_widget') -}}
{%- endblock %}

{% block concept_relation_row -%}
  {{- block('collection_widget_data_row') -}}
{%- endblock %}

{% block concept_relation_widget -%}
  {{ form_row(form.source) }}
  {{ form_row(form.relationType) }}
  {{ form_row(form.target) }}
  {{ block('collection_buttons') }}
{%- endblock %}
