{# General save_row block #}
{% block save_row %}
  {% if locate_static|default(false) %}
    <div class="locate-static-placeholder"></div>
    <div class="locate-static-container">
  {% endif %}
  <div class="form-group form-group-save-button">
    <div class="form-group-inner">
      {% for item in form %}
        {{ form_widget(item) }}
      {% endfor %}
    </div>
  </div>
  {% if locate_static|default(false) %}
    </div>
  {% endif %}
{% endblock %}

{# RemoveType in order to render the buttons correctly #}
{% block remove_widget %}
  <div class="clearfix spacer"></div>
  {{ block('save_row') }}
{% endblock %}

{# Single submit type, to remove empty label space #}
{% block single_submit_row %}
  {%- set type = 'submit' -%}
  <div class="form-group">
    {{ block('button_widget') }}
  </div>
{% endblock %}

{# Hidden entity widget, for data reuse applications #}
{% block hidden_entity_row %}
  <div class="d-none">
    {{ form_widget(form) }}
  </div>
{% endblock %}

{% block base_data_text_row %}
  {{ form_widget(form) }}
{% endblock %}
