{% block learning_path_element_container_row %}
  <div class="form-group row">
    {{ form_label(form) }}
    <div class="col-12">
      {{ 'learning-path.elements-info'|trans }}
    </div>
    <div class="col-12">
      {%- if errors|length > 0 -%}
        <div class="alert alert-danger">
          <ul class="list-unstyled mb-0">
              <li><i class="fa fa-exclamation-circle"></i> {{ 'learning-path.element-errors'|trans }}</li>
          </ul>
        </div>
      {%- endif %}
      {{ form_widget(form) }}
    </div>
  </div>
{% endblock %}

{% block learning_path_element_container_widget %}
  <div class="row sortable-learning-path">
    <div class="col-12 col-md-4">
      {{ form_widget(form.selector) }}
    </div>
    <div class="col-12 col-md-8">
      {{ form_widget(form.elements) }}
    </div>
  </div>
{% endblock %}

{% block learning_path_element_selector_widget %}
  <div class="form-group row">
    <label class="col-form-label col-12" for="{{ form.concepts.vars.id }}">
      {{ form.concepts.vars.label|trans }}</label>
    <div class="col-12">
      {{ form_widget(form.concepts) }}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-12" for="{{ form.learningOutcomes.vars.id }}">
      {{ form.learningOutcomes.vars.label|trans }}</label>
    <div class="col-12">
      {{ form_widget(form.learningOutcomes) }}
    </div>
  </div>
  {{ form_widget(form.learningOutcomesConcepts) }}
  {{ form_row(form.add) }}

  <!--suppress JSUnusedLocalSymbols -->
  <script type="text/javascript">
    function addLearningPathConcepts_{{ sortable_id }}() {
      if (window.slp) {
        window.slp.addLearningPathConcepts('{{ sortable_id }}', '{{ form.concepts.vars.id }}', '{{ form.learningOutcomes.vars.id }}');
      }
    }

    $(function () {
      var $conceptField = $('#{{ form.concepts.vars.id }}');
      var $learningOutcomesField = $('#{{ form.learningOutcomes.vars.id }}');
      $conceptField.add($learningOutcomesField).on('change', function () {
        var disabled = $conceptField.val().length === 0 && $learningOutcomesField.val().length === 0;
        $('#{{ form.add.vars.id }}').prop('disabled', disabled);
      });
    });
  </script>
{% endblock %}

{% block learning_path_elements_widget %}
  <legend class="col-form-label">{{ 'learning-path.current-elements'|trans }}</legend>
  <ul id="{{ sortable_id }}_sortable" class="sortable-list" data-prototype="{{- form_row(prototype)|e -}}"
      data-index="{{ form.children|length }}">
    {# Render normal widget #}
    {{- block('form_rows') -}}
  </ul>

  <script type="application/javascript">
    $(function () {
      if (window.slp) {
        window.slp.registerSortable('{{ sortable_id }}', '{{ id }}');
      }
    });
  </script>
{% endblock %}

{% block learning_path_element_row %}
  <li class="ui-state-default">
    <div class="handle" data-toggle="tooltip" title="{{ 'form.move'|trans }}"><i class="fa fa-fw fa-arrows"></i></div>
    <div class="path-layout"></div>
    <div class="item">
      {{ form_widget(form) }}
    </div>
    <div class="remove-handle">
      <button type="button" class="btn btn-outline-danger" data-toggle="tooltip" title="{{ 'form.remove'|trans }}"
              onclick="if (window.slp) window.slp.removeConcept(this, '{{ sortable_id }}')">
        <i class="fa fa-fw fa-remove"></i></button>
    </div>
  </li>
{% endblock %}
