{% block review_submission_object_header_row %}
<div class="card review-card">
  <div class="card-header">
    <h4 class="review-header">
      {%- if checkbox -%}
        <div class="custom-control custom-checkbox">
          {%- if full_change_only -%}
            {% set form_field = '_all' %}
            <input type="checkbox" id="pc_{{ pendingChange.id }}_{{ form_field }}"
                   name="{{ form.parent.parent.vars.id }}[pending_changes][{{ pendingChange.id }}][{{ form_field }}]"
                   class="custom-control-input change-input change-input-{{ pendingChange.id }}">
            <label class="checkbox-custom custom-control-label"
                   for="pc_{{ pendingChange.id }}_{{ form_field }}"></label>
          {%- else -%}
            <input type="checkbox" id="pc_{{ pendingChange.id }}" class="custom-control-input change-input">
            <label class="checkbox-custom custom-control-label" for="pc_{{ pendingChange.id }}"></label>
          {%- endif -%}
        </div>
      {%- endif -%}
      {{ (pendingChange.shortObjectType|trString ~ '._name')|trans }}: "{{ pendingChange.object.reviewTitle }}"
      {{ block('change_type') }}
      {% if checkbox %}
        <script type="text/javascript">
          $(function () {
            $('#pc_{{ pendingChange.id }}').on('click', function () {
              $('.change-input-{{ pendingChange.id }}').prop('checked', $('#pc_{{ pendingChange.id }}').is(':checked'));
            });
          });
        </script>
      {% endif %}
    </h4>
  </div>
  <ul class="list-group list-group-flush">
    {% if pendingChange.changeType == constant('App\\Entity\\PendingChange::CHANGE_TYPE_REMOVE') %}
      <li class="list-group-item">
        {{ 'review.object-removed'|trans }}
      </li>
    {% endif %}
    {% endblock %}

    {% block review_submission_object_footer_row %}
  </ul>
  {% if showEdit|default(false) %}
    <div class="card-footer">
      <div class="review-footer">
        <a href="{{ editPath }}" class="btn btn-sm btn-outline-primary">
          <i class="fa fa-fw fa-edit"></i>
          {{ 'form.edit'|trans }}
        </a>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}

{% block _submit_review_pending_changes_row %}
{% endblock %}

{% block review_learning_path_elements_diff_row %}
  {% from _self import build_element_diff %}
  {% set original = build_element_diff(orig_elements) %}

  {{ block('review_diff_start') }}
  {% if show_original %}
    {{ original }}
  {% endif %}
  {{ block('review_diff_mid') }}
  {% if show_updated %}
    {% if original is defined %}
      <div class="diff-container">
        {{ htmldiff(original, build_element_diff(new_elements)) }}
      </div>
    {% else %}
      {{ build_element_diff(new_elements) }}
    {% endif %}
  {% endif %}
  {{ block('review_diff_end') }}
{% endblock %}

{% macro build_element_diff(elements) %}
  {% for element in elements %}
    <div class="ltb-learning-path-element{% if element.description is null %} no-description{% endif %}">
      <div class="path-layout"></div>
      <div class="item">
        <b>
          {% if element.concept.id %}
          <a href="{{ path('app_concept_show', {concept: element.concept.id}) }}">
            {% endif %}
            {{ loop.index }}. {{ element.concept.name }}
            {% if element.concept.id %}
          </a>
          {% endif %}
        </b>
        <p>{{ element.description }}</p>
      </div>
    </div>
  {% else %}
    <div class="review-no-content">{{ 'review.empty-content'|trans }}</div>
  {% endfor %}
{% endmacro %}

{% block review_relation_diff_row %}
  {% from _self import build_relation_diff %}
  {% set original = build_relation_diff(orig_relations|default([]), incoming, concept) %}

  {{ block('review_diff_start') }}
  {% if show_original %}
    {{ original }}
  {% endif %}
  {{ block('review_diff_mid') }}
  {% if show_updated %}
    {% if original is defined %}
      <div class="diff-container">
        {{ htmldiff(original, build_relation_diff(new_relations, incoming, concept)) }}
      </div>
    {% else %}
      {{ build_relation_diff(new_relations, incoming, concept) }}
    {% endif %}
  {% endif %}
  {{ block('review_diff_end') }}
{% endblock %}

{% macro build_relation_diff(relations, incoming, concept) %}
  {% from '_data/_data_templates.html.twig' import link_to_relation %}
  <ul>
    {% for relation in relations %}
      <li>
        {{ link_to_relation(relation.source|default(concept), incoming) }}
        <i>{{ relation.relationType.name|lower }}</i>
        {{ link_to_relation(relation.target|default(concept), not incoming) }}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% block review_simple_list_diff_row %}
  {% from _self import build_simple_list_diff %}
  {% set original = build_simple_list_diff(field, orig_list) %}

  {{ block('review_diff_start') }}
  {% if show_original %}
    {{ original }}
  {% endif %}
  {{ block('review_diff_mid') }}
  {% if show_updated %}
    {% if original is defined %}
      <div class="diff-container">
        {{ htmldiff(original, build_simple_list_diff(field, new_list)) }}
      </div>
    {% else %}
      {{ build_simple_list_diff(field, new_list) }}
    {% endif %}
  {% endif %}
  {{ block('review_diff_end') }}
{% endblock %}

{% macro build_simple_list_diff(field, list) %}
  <ul>
    {% from '_data/_data_templates.html.twig' import render_contributor, render_external_resource, render_learning_outcome, render_prior_knowledge, render_tag %}
    {% for item in list %}
      <li>
        {% if field == 'externalResources' %}
          {{ render_external_resource(item) }}
        {% elseif field == 'learningOutcomes' %}
          {{ render_learning_outcome(item) }}
        {% elseif field == 'priorKnowledge' %}
          {{ render_prior_knowledge(item) }}
        {% elseif field == 'contributors' %}
          {{ render_contributor(item) }}
        {% elseif field == 'tags' %}
          {{ render_tag(item) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% block review_checkbox_diff_row %}
  {{ block('review_diff_start') }}
  {% if show_original %}
    <i class="fa fa-fw {% if orig_value %}fa-check{% else %}fa-times{% endif %}"></i>
  {% endif %}
  {{ block('review_diff_mid') }}
  {% if show_updated %}
    <i class="fa fa-fw {% if new_value %}fa-check{% else %}fa-times{% endif %}"></i>
  {% endif %}
  {{ block('review_diff_end') }}
{% endblock %}

{% block review_text_diff_row %}
  {% from '_macro/_review.html.twig' import printText %}

  {{ block('review_diff_start') }}
  {% if show_original %}
    {{ printText(orig_text, ckeditor, false) }}
  {% endif %}
  {{ block('review_diff_mid') }}
  {% if show_updated %}
    {{ printText(new_text, ckeditor, orig_text is defined ? orig_text : '') }}
  {% endif %}
  {{ block('review_diff_end') }}
{% endblock %}

{% block review_diff_start %}
{% if not diff_only %}
<li class="list-group-item review-item{% if checkbox %} with-checkbox{% endif %}">
  {% if checkbox %}
    <div class="custom-control custom-checkbox">
      {% set form_field = field|default(change_type) %}
      <input type="checkbox" id="pc_{{ pending_change_id }}_{{ form_field }}"
             name="{{ form.parent.parent.vars.id }}[pending_changes][{{ pending_change_id }}][{{ form_field }}]"
             class="custom-control-input change-input change-input-{{ pending_change_id }}">
      <label class="checkbox-custom custom-control-label"
             for="pc_{{ pending_change_id }}_{{ form_field }}">
        {{ (short_object_type|trString ~ '.' ~ field|trString)|trans }}
      </label>
    </div>
  {% else %}
    <label>
      {{ (short_object_type|trString ~ '.' ~ field|trString)|trans }}
    </label>
  {% endif %}
  {% endif %}
  <div class="row">
    {% if not diff_only %}
    <div class="col-12 col-md-6{% if form.comments is defined %} col-xl-4{% endif %}">
      {% if show_original %}
        <label class="col-form-label">{{ 'review.original'|trans }}</label>
      {% endif %}
      {% endif %}

      {% endblock %}
      {% block review_diff_mid %}
      {% if not diff_only %}
    </div>
    {% endif %}

    {% if diff_only %}
    <div class="col-12">
    {% else %}
    <div class="col-12 mt-2 col-md-6 mt-md-0{% if form.comments is defined %} col-xl-4{% endif %}">
    {% endif %}
      {% if show_updated and not diff_only %}
        <label class="col-form-label">
          {% if show_original %}
            {{ 'review.update'|trans }}
          {% else %}
            {{ 'review.new'|trans }}
          {% endif %}
        </label>
      {% endif %}

      {% endblock %}
      {% block review_diff_end %}
    </div>

    {% if form.comments is defined %}
      <div class="col-12 mt-2 col-xl-4 mt-xl-0">
        <label class="col-form-label">
          {{ 'review.comments'|trans }}
          {% if not form.comments.vars.disabled %}
            <a href="#" onclick="$('#{{ form.comments.vars.id }}').val('')">
              ({{ 'review.clear-comments'|trans }})
            </a>
          {% endif %}
        </label>
        <div class="review-comments">
          {{ form_widget(form.comments) }}
        </div>
      </div>
    {% endif %}
  </div>
  {% if not diff_only %}
</li>
  {% endif %}
{% endblock %}

{% block change_type %}
  <i data-toggle="tooltip"
      {% if pendingChange.changeType == constant('App\\Entity\\PendingChange::CHANGE_TYPE_ADD') %}
        class="fa fa-fw fa-plus text-success" title="{{ 'review.change-types.add'|trans }}"
      {% elseif pendingChange.changeType == constant('App\\Entity\\PendingChange::CHANGE_TYPE_EDIT') %}
        class="fa fa-fw fa-edit text-primary" title="{{ 'review.change-types.edit'|trans }}"
      {% elseif pendingChange.changeType == constant('App\\Entity\\PendingChange::CHANGE_TYPE_REMOVE') %}
        class="fa fa-fw fa-trash text-danger" title="{{ 'review.change-types.remove'|trans }}"
      {% else %}
        class="fa fa-fw fa-question"
      {% endif %}
  ></i>
{% endblock %}

{% block display_pending_change_row %}
  {% if pending_change is defined %}
    {{ block('form_row') }}
  {% endif %}
{% endblock %}

{% block display_pending_change_widget %}
  <div class="review-item below-input">
    <label class="col-form-label font-italic">{{ 'review.current-change'|trans({
        '%owner%': owner,
      }) }}
      <a href="#collapse-{{ form.vars.id }}" data-toggle="collapse">({{ 'review.toggle-preview'|trans|lower }})</a>
    </label>
    <div class="collapse" id="collapse-{{ form.vars.id }}">
      {{ form_row(form.preview) }}
    </div>
  </div>
{% endblock %}
