{% block review_submission_object_header_row %}
<div class="card review-card">
  <div class="card-header">
    <h4 class="review-header">
      {%- if checkbox -%}
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="pc_{{ pendingChange.id }}" class="custom-control-input change-input">
          <label class="checkbox-custom custom-control-label" for="pc_{{ pendingChange.id }}"></label>
        </div>
      {%- endif -%}
      {{ (pendingChange.shortObjectType|trString ~ '._name')|trans }}: "{{ pendingChange.object.reviewTitle }}"
      {{ block('change_type') }}
      {% if checkbox %}
        <script type="text/javascript">
          $(function () {
            $('#pc_{{ pendingChange.id }}').on('click', function () {
              $('.change-input-{{ pendingChange.id }}').prop('checked', $('#pc_{{ pendingChange.id }}').is(':checked'));
            });
          });
        </script>
      {% endif %}
    </h4>
  </div>
  <ul class="list-group list-group-flush">
    {% endblock %}

    {% block review_submission_object_footer_row %}
  </ul>
</div>
{% endblock %}

{% block _submit_review_pending_changes_row %}
{% endblock %}

{% block review_learning_path_elements_diff_row %}
  {% from _self import build_element_diff %}
  {{ block('review_diff_start') }}
  {{ build_element_diff(orig_elements) }}
  {{ block('review_diff_mid') }}
  {{ build_element_diff(new_elements) }}
  {{ block('review_diff_end') }}
{% endblock %}

{% macro build_element_diff(elements) %}
  {% for element in elements %}
    <div class="ltb-learning-path-element{% if element.description is null %} no-description{% endif %}">
      <div class="path-layout"></div>
      <div class="item">
        <b>
          {% if element.concept.id %}
          <a href="{{ path('app_concept_show', {concept: element.concept.id}) }}">
            {% endif %}
            {{ loop.index }}. {{ element.concept.name }}
            {% if element.concept.id %}
          </a>
          {% endif %}
        </b>
        <p>{{ element.description }}</p>
      </div>
    </div>
  {% else %}
    <div class="review-no-content">{{ 'review.empty-content'|trans }}</div>
  {% endfor %}
{% endmacro %}

{% block review_relation_diff_row %}
  {% from '_data/_data_templates.html.twig' import link_to_relation %}
  {{ block('review_diff_start') }}
  <ul>
    {% for relation in orig_relations %}
      <li>
        {{ link_to_relation(relation.source, incoming) }}
        <i>{{ relation.relationType.name|lower }}</i>
        {{ link_to_relation(relation.target, not incoming) }}
      </li>
    {% else %}
      <div class="review-no-content">{{ 'review.empty-content'|trans }}</div>
    {% endfor %}
  </ul>
  {{ block('review_diff_mid') }}
  <ul>
    {% for relation in new_relations %}
      <li>
        {{ link_to_relation(relation.source|default(concept), incoming) }}
        <i>{{ relation.relationType.name|lower }}</i>
        {{ link_to_relation(relation.target|default(concept), not incoming) }}
      </li>
    {% else %}
      <div class="review-no-content">{{ 'review.empty-content'|trans }}</div>
    {% endfor %}
  </ul>
  {{ block('review_diff_end') }}
{% endblock %}

{% block review_simple_list_diff_row %}
  {% from _self import build_simple_list_diff %}
  {{ block('review_diff_start') }}
  {{ build_simple_list_diff(field, orig_list) }}
  {{ block('review_diff_mid') }}
  {{ build_simple_list_diff(field, new_list) }}
  {{ block('review_diff_end') }}
{% endblock %}

{% macro build_simple_list_diff(field, list) %}
  <ul>
    {% from '_data/_data_templates.html.twig' import render_external_resource, render_learning_outcome, render_prior_knowledge %}
    {% for item in list %}
      <li>
        {% if field == 'externalResources' %}
          {{ render_external_resource(item) }}
        {% elseif field == 'learningOutcomes' %}
          {{ render_learning_outcome(item) }}
        {% elseif field == 'priorKnowledge' %}
          {{ render_prior_knowledge(item) }}
        {% endif %}
      </li>
    {% else %}
      <div class="review-no-content">{{ 'review.empty-content'|trans }}</div>
    {% endfor %}
  </ul>
{% endmacro %}

{% block review_text_diff_row %}
  {% from '_macro/_review.html.twig' import printText %}

  {{ block('review_diff_start') }}
  {{ printText(orig_text, ckeditor) }}
  {{ block('review_diff_mid') }}
  {{ printText(new_text, ckeditor) }}
  {{ block('review_diff_end') }}
{% endblock %}

{% block review_diff_start %}
<li class="list-group-item review-item{% if checkbox %} with-checkbox{% endif %}">
  {% if checkbox %}
    <div class="custom-control custom-checkbox">
      {% set formField = field|default(change_type) %}
      <input type="checkbox" id="pc_{{ pending_change_id }}_{{ formField }}"
             name="{{ form.parent.parent.vars.id }}[pending_changes][{{ pending_change_id }}][{{ formField }}]"
             class="custom-control-input change-input change-input-{{ pending_change_id }}">
      <label class="checkbox-custom custom-control-label"
             for="pc_{{ pending_change_id }}_{{ formField }}">
        {{ (short_object_type|trString ~ '.' ~ field|trString)|trans }}
      </label>
    </div>
  {% else %}
    <h5 class="review-header">
      {{ (short_object_type|trString ~ '.' ~ field|trString)|trans }}
    </h5>
  {% endif %}
  <div class="row">
    <div class="col-12 col-md-6{% if form.comments is defined %} col-xl-4{% endif %}">
      <label class="col-form-label">{{ 'review.original'|trans }}</label>
      {% endblock %}
      {% block review_diff_mid %}
    </div>
    <div class="col-12 col-md-6{% if form.comments is defined %} col-xl-4{% endif %}">
      <label class="col-form-label">{{ 'review.update'|trans }}</label>
      {% endblock %}
      {% block review_diff_end %}
    </div>
    {% if form.comments is defined %}
      <div class="col-12 col-xl-4">
        <label class="col-form-label">{{ 'review.comments'|trans }}</label>
        {{ form_widget(form.comments) }}
      </div>
    {% endif %}
  </div>
</li>
{% endblock %}

{% block change_type %}
  <i data-toggle="tooltip"
      {% if pendingChange.changeType == constant('App\\Entity\\PendingChange::CHANGE_TYPE_ADD') %}
        class="fa fa-fw fa-plus text-success" title="{{ 'review.change-types.add'|trans }}"
      {% elseif pendingChange.changeType == constant('App\\Entity\\PendingChange::CHANGE_TYPE_EDIT') %}
        class="fa fa-fw fa-edit text-primary" title="{{ 'review.change-types.edit'|trans }}"
      {% elseif pendingChange.changeType == constant('App\\Entity\\PendingChange::CHANGE_TYPE_REMOVE') %}
        class="fa fa-fw fa-trash text-danger" title="{{ 'review.change-types.remove'|trans }}"
      {% else %}
        class="fa fa-fw fa-question"
      {% endif %}
  ></i>
{% endblock %}
