{% extends 'bootstrap_4_horizontal_layout.html.twig' %}

{% block form_start -%}
  {%- set attr = attr|merge({onsubmit: '$(this).find(\'button, submit\').attr(\'disabled\', \'disabled\');'}) -%}
  {{- parent() -}}
{%- endblock %}

{% block form_label_class -%}
  {%- if hide_label is not defined or hide_label|default(false) == false -%}
    col-md-3 col-lg-2
  {%- endif -%}
{%- endblock %}

{% block form_group_class -%}
  {%- if hide_label is defined and hide_label == true -%}
    col-sm-12
  {%- else -%}
    col-md-9 col-lg-10
  {%- endif -%}
{%- endblock form_group_class %}

{% block submit_widget -%}
  {%- set attr = attr|merge({class: (attr.class|default('btn-success'))|trim}) -%}
  {{- parent() -}}
{%- endblock %}

{% block form_row -%}
  {{- block("form_header") -}}
  {{- parent() -}}
{% endblock %}

{% block checkbox_row -%}
  {{- block("form_header") -}}
  {{- parent() -}}
{% endblock %}

{% block submit_row -%}
  {{- block("form_header") -}}
  {{- parent() -}}
{%- endblock submit_row %}

{% block reset_row -%}
  {{- block("form_header") -}}
  {{- parent() -}}
{%- endblock reset_row %}

{% block form_label -%}
  {%- if hide_label is defined and hide_label == true -%}
  {%- else -%}
    {{ parent() }}
  {%- endif -%}
{% endblock %}

{% block form_errors -%}
  {%- if errors|length > 0 -%}
    <div class="{% if form is not rootform %}invalid-feedback{% else %}alert alert-danger{% endif %}">
      <ul class="list-unstyled mb-0">
        {%- for error in errors -%}
          <li><i class="fa fa-exclamation-circle"></i> {{ error.message }}</li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif %}
{%- endblock form_errors %}

{# Define block which enables form_header option #}
{% block form_header -%}
  {%- if form_header is defined and form_header != false -%}
    <h2>{{ form_header|trans }}</h2>
  {%- endif -%}
{%- endblock %}

{# Collection widget to add collection edit support #}
{% block collection_widget -%}
  {# Copied from plugin https://github.com/ninsuo/symfony-collection/blob/master/jquery.collection.html.twig #}
  {%- if prototype is defined -%}
    {%- set attr = attr|merge({'data-prototype': form_row(prototype)}) -%}
    {%- set attr = attr|merge({'data-prototype-name': prototype.vars.name}) -%}
  {%- endif -%}
  {%- set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) -%}
  {%- set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) -%}
  {%- set attr = attr|merge({'data-name-prefix': full_name}) -%}

  {# Render normal widget #}
  {{- block('form_widget') -}}

  {# Enable plugin for form #}
  {% set allow_move_calc = allow_move is not defined or (allow_move is defined and allow_move) %}
  <script type="text/javascript">
    $('#{{ id }}').collection({
      add: '<a href="#" class="collection-rescue-add btn btn-secondary"><i class="fa fa-plus fa-fw"></i></a>',
      allow_down: {{ allow_move_calc ? 'true' : 'false' }},
      allow_up: {{ allow_move_calc ? 'true' : 'false' }}
    });
  </script>
{%- endblock %}

{% block collection_widget_data_row -%}
  <div class="card card-collection">
    <div class="card-body">{{ form_row(form) }}</div>
  </div>
{%- endblock %}

{% block collection_widget_data_widget -%}
  {{ form_widget(form) }}
  <div class="text-right">
    <a href="#" class="collection-up btn btn-secondary"><i class="fa fa-step-backward fa-fw"></i></a>
    <a href="#" class="collection-remove btn btn-secondary"><i class="fa fa-minus fa-fw"></i></a>
    <a href="#" class="collection-add btn btn-secondary"><i class="fa fa-plus fa-fw"></i></a>
    <a href="#" class="collection-down btn btn-secondary"><i class="fa fa-step-forward fa-fw"></i></a>
  </div>
{%- endblock %}

{% block external_resource_row -%}
  {{- block('collection_widget_data_row') -}}
{%- endblock %}

{% block external_resource_widget -%}
  {{- block('collection_widget_data_widget') -}}
{%- endblock %}

{% block concept_relation_row -%}
  {{- block('collection_widget_data_row') -}}
{%- endblock %}

{% block concept_relation_widget -%}
  {{- block('collection_widget_data_widget') -}}
{%- endblock %}
