{% extends 'communication/_base.html.twig' %}

{% block content %}
  <p>
    {{ '_general.heading'|trans({'%person%': user}, 'communication') }}
  </p>

  <spacer></spacer>

  <p>
    {{ 'auth.password-reset.body'|trans({}, 'communication') }}
  </p>

  <spacer></spacer>

  <center>
    <button href="{{ url('app_authentication_resetpassword', {
      u: user_id,
      e: email_hash,
      r: reset_code,
    }) }}" class="primary">
      {{ 'auth.password-reset.reset'|trans({}, 'communication') }}
    </button>
  </center>

  <spacer></spacer>

  <p>
    {{ 'auth.password-reset.reset-note'|trans({}, 'communication') }}
  </p>

  <spacer></spacer>

  <p>
    {{ '_general.footer'|trans({}, 'communication') }}<br/>
    {{ '_brand.ltb'|trans({}, 'communication') }}
  </p>
{% endblock %}
