{% extends 'single_column.html.twig' %}

{% block title %}
  {{ 'review.submissions-title'|trans }}
{% endblock %}

{% block content %}
  {% if reviews|length == 0 %}
    <p>{{ 'review.no-pending-submissions'|trans }}</p>
  {% else %}
    <p>{{ 'review.submissions-text'|trans }}</p>

    {{ block('reviews') }}
  {% endif %}
{% endblock %}

{% block reviews %}
  {% from _self import reviews_page_part %}

  {# Own submissions, header #}
  {% if reviews|filter((review) => review.owner.id == app.user.id)|length > 0 %}
    <h2>{{ 'review.list-own'|trans }}</h2>
  {% endif %}

  {# Own submissions, with review comments #}
  {{ reviews_page_part(
    reviews|filter((review) => review.owner.id == app.user.id and review.reviewedAt is not null),
  'review.list-own-rework-flash'|trans, 'warning', 'fa-exclamation', false, true,
  ) }}

  {# Own submissions, pending for review #}
  {{ reviews_page_part(
    reviews|filter((review) => review.owner.id == app.user.id and review.reviewedAt is null),
  'review.list-own-flash'|trans, 'info', 'fa-info', false, false,
  ) }}

  {# Other submissions, header #}
  {% if reviews|filter((review) => review.owner.id != app.user.id)|length > 0 %}
    <h2>{{ 'review.list-other'|trans }}</h2>
  {% endif %}

  {# Other submissions, pending for review #}
  {{ reviews_page_part(
    reviews|filter((review) => review.owner.id != app.user.id and review.reviewedAt is null),
  'review.list-other-flash'|trans, 'warning', 'fa-exclamation', true, false,
  ) }}

  {# Other submissions, with review comments #}
  {{ reviews_page_part(
    reviews|filter((review) => review.owner.id != app.user.id and review.reviewedAt is not null),
  'review.list-other-pending-flash'|trans, 'info', 'fa-info', true, true,
  ) }}
{% endblock %}

{% macro reviews_page_part(reviews, title, alert_type, icon, not_own, reviewed) %}
  {% set close_loop = false %}
  {% for review in reviews %}
    {% if loop.first %}
      {% set close_loop = true %}
      {{ block('review_table') }}
    {% endif %}
    {{ block('review') }}
  {% endfor %}
  {{ block('review_table_end') }}
{% endmacro %}

{% block review_table %}
<div class="card review-card">
  <div class="card-header alert-{{ alert_type }}">
    <span class="review-header">
      <i class="fa fa-fw {{ icon }}"></i>
      {{ title }}
    </span>
  </div>
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          {% if not_own %}
            <th scope="col" style="width: 20%">{{ 'review.owner'|trans }}</th>
          {% endif %}
          <th scope="col" style="width: 20%">{{ 'review.notes'|trans }}</th>
          {% if reviewed %}
            <th scope="col" style="width: 20%">{{ 'review.reviewed-at'|trans }}</th>
            <th scope="col" style="width: 20%">{{ 'review.reviewed-by'|trans }}</th>
          {% else %}
            <th scope="col" style="width: 20%">{{ 'review.submitted-at'|trans }}</th>
            <th scope="col" style="width: 20%">{{ 'review.requested-reviewer'|trans }}</th>
          {% endif %}
          <th scope="col" class="actions">{{ 'form.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% endblock %}

        {% block review %}
          {% from '_macro/_action_buttons.html.twig' import _action_button, show_button, edit_button, remove_button %}
          {% from '_macro/_review.html.twig' import noteExcerpt %}
          {% set own = review.owner.id == app.user.id %}
          <tr>
            {% if not_own %}
              <td>{{ review.owner.displayName }}</td>
            {% endif %}
            <td class="fit">
              {{ noteExcerpt(review.notes) }}
            </td>
            {% if reviewed %}
              <td>{{ review.reviewedAt|format_datetime('medium', 'short') }}</td>
              <td>{{ review.reviewedBy.displayName }}</td>
            {% else %}
              <td>{{ review.requestedReviewAt|format_datetime('medium', 'short') }}</td>
              <td>{{ review.requestedReviewBy.displayName }}</td>
            {% endif %}
            <td class="actions text-right">
              {% if review.reviewedAt is null and (not own or is_granted('STUDYAREA_OWNER', _twigStudyArea)) %}
                {{ _action_button(path('app_review_reviewsubmission', {review: review.id}), 'fa-search',
                  'review.start-review'|trans, 'success', false, false) }}
              {% endif %}
              {% if review.reviewedAt is not null and (own or is_granted('STUDYAREA_OWNER', _twigStudyArea)) %}
                {{ _action_button(path('app_review_resubmitsubmission', {review: review.id}), 'fa-repeat',
                  'review.resubmit-review'|trans, 'success', false, false) }}
              {% endif %}

              {{ show_button(path('app_review_showsubmission', {review: review.id})) }}

              {% if own or is_granted('STUDYAREA_OWNER', _twigStudyArea) %}
                {{ edit_button(path('app_review_editreview', {review: review.id})) }}
                {{ remove_button(path('app_review_removereview', {review: review.id})) }}
              {% endif %}
            </td>
          </tr>
        {% endblock %}

        {% block review_table_end %}
        {% if close_loop %}
        </tbody>
      </table>
    </div>
  </div>
</div>
  {% endif %}
{% endblock %}
