{% extends 'single_column.html.twig' %}

{% block title %}
  {{ 'review.submissions-title'|trans }}
{% endblock %}

{% block content %}
  {% if reviews|length == 0 %}
    <p>{{ 'review.no-pending-submissions'|trans }}</p>
  {% else %}
    <p>{{ 'review.submissions-text'|trans }}</p>

    {{ block('reviews') }}
  {% endif %}
{% endblock %}

{% block reviews %}
  {% from _self import reviews_page_part %}

  {# Own submissions, header #}
  {% if reviews|filter((review) => review.owner.id == app.user.id)|length > 0 %}
    <h2>{{ 'review.list-own'|trans }}</h2>
  {% endif %}

  {# Own submissions, with review comments #}
  {{ reviews_page_part(
    reviews|filter((review) => review.owner.id == app.user.id and review.hasComments),
  'review.list-own-rework-flash'|trans, 'warning', 'fa-exclamation', false
  ) }}

  {# Own submissions, pending for review #}
  {{ reviews_page_part(
    reviews|filter((review) => review.owner.id == app.user.id and not review.hasComments),
  'review.list-own-flash'|trans, 'info', 'fa-info', false
  ) }}

  {# Other submissions, header #}
  {% if reviews|filter((review) => review.owner.id != app.user.id)|length > 0 %}
    <h2>{{ 'review.list-other'|trans }}</h2>
  {% endif %}

  {# Other submissions, pending for review #}
  {{ reviews_page_part(
    reviews|filter((review) => review.owner.id != app.user.id and not review.hasComments),
  'review.list-other-flash'|trans, 'warning', 'fa-exclamation', true
  ) }}

  {# Other submissions, with review comments #}
  {{ reviews_page_part(
    reviews|filter((review) => review.owner.id != app.user.id and review.hasComments),
  'review.list-other-pending-flash'|trans, 'info', 'fa-info', true
  ) }}
{% endblock %}

{% macro reviews_page_part(reviews, title, alertType, icon, notOwn) %}
  {% set closeLoop = false %}
  {% for review in reviews %}
    {% if loop.first %}
      {% set closeLoop = true %}
      {{ block('review_table') }}
    {% endif %}
    {{ block('review') }}
  {% endfor %}
  {{ block('review_table_end') }}
{% endmacro %}

{% block review_table %}
<div class="card review-card">
  <div class="card-header alert-{{ alertType }}">
    <span class="review-header">
      <i class="fa fa-fw {{ icon }}"></i>
      {{ title }}
    </span>
  </div>
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          {% if notOwn %}
            <th scope="col" style="width: 20%">{{ 'review.owner'|trans }}</th>
          {% endif %}
          <th scope="col" style="width: 20%">{{ 'review.notes'|trans }}</th>
          <th scope="col" style="width: 20%">{{ 'review.submitted-at'|trans }}</th>
          <th scope="col" style="width: 20%">{{ 'review.reviewer'|trans }}</th>
          <th scope="col" class="actions">{{ 'form.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% endblock %}

        {% block review %}
          {% from '_macro/_action_buttons.html.twig' import _action_button, show_button, edit_button, remove_button %}
          {% from '_macro/_review.html.twig' import noteExcerpt %}
          {% set own = review.owner.id == app.user.id %}
          <tr>
            {% if notOwn %}
              <td>{{ review.owner.displayName }}</td>
            {% endif %}
            <td class="fit">
              {{ noteExcerpt(review.notes) }}
            </td>
            <td>{{ review.requestedReviewAt|localizeddate('medium', 'short') }}</td>
            <td>{{ review.requestedReviewBy.displayName }}</td>
            <td class="actions">
              {% if own or is_granted('STUDYAREA_OWNER', _twigStudyArea) %}
                {{ edit_button(path('app_review_editreview', {'review': review.id})) }}
                {{ remove_button(path('app_review_removereview', {'review': review.id})) }}
              {% endif %}
              {{ show_button(path('app_review_showsubmission', {'review': review.id})) }}
              {% if not own or is_granted('STUDYAREA_OWNER', _twigStudyArea) %}
                {{ _action_button(path('app_review_reviewsubmission', {'review': review.id}), 'fa-search',
                  'review.start-review'|trans, 'success', false, false, review.requestedReviewBy.id != app.user.id) }}
              {% endif %}
            </td>
          </tr>
        {% endblock %}

        {% block review_table_end %}
        {% if closeLoop %}
        </tbody>
      </table>
    </div>
  </div>
</div>
  {% endif %}
{% endblock %}
