{% extends 'single_column.html.twig' %}

{% block before_title %}
  {% if is_granted('STUDYAREA_EDIT', studyArea) %}
    {% import '_macro/_action_buttons.html.twig' as buttons %}
    {{ buttons.header() }}
    {{ buttons.progress_button() }}
    {{ buttons.add_button(path('app_learningoutcome_add'), _twigStudyArea.isFrozen ? 'study-area.frozen'|trans : '') }}
    {{ buttons.footer() }}
  {% endif %}
{% endblock %}

{% block title %}
  {{ 'learning-outcome.list-title'|trans }}
{% endblock %}

{% block content %}
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">{{ 'learning-outcome.number'|trans }}</th>
        <th scope="col">{{ 'learning-outcome.name'|trans }}</th>
        <th scope="col">{{ 'form.show'|trans }}</th>
        {% if is_granted('STUDYAREA_EDIT', studyArea) %}
          <th scope="col">{{ 'form.edit'|trans }}</th>
          <th scope="col">{{ 'form.remove'|trans }}</th>
        {% endif %}
      </tr>
      </thead>
      <tbody>
      {% for learningOutcome in learningOutcomes %}
        <tr>
          <td>{{ learningOutcome.number }}</td>
          <td>{{ learningOutcome.name }}</td>
          <td><a
                href="{{ path('app_learningoutcome_show', {'learningOutcome': learningOutcome.id}) }}">{{ 'form.show'|trans }}</a>
          </td>
          {% if is_granted('STUDYAREA_EDIT', studyArea) %}
            {% from '_macro/_links.html.twig' import linkDisabledWhenFrozen %}
            <td>{{ linkDisabledWhenFrozen('app_learningoutcome_edit', {'learningOutcome': learningOutcome.id}, 'form.edit') }}</td>
            <td>{{ linkDisabledWhenFrozen('app_learningoutcome_remove', {'learningOutcome': learningOutcome.id}, 'form.remove') }}</td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
