{% extends 'single_column.html.twig' %}

{% block before_title %}
  {% import '_macro/_action_buttons.html.twig' as buttons %}
  {{ buttons.header() }}
  {% if is_granted('STUDYAREA_EDIT', _twigStudyArea) %}
    {{ buttons.add_button(path('app_learningoutcome_add'), _twigStudyArea.isFrozen ? 'study-area.frozen'|trans : '') }}
    {{ buttons.edit_button(path('app_learningoutcome_edit', {learningOutcome: learningOutcome.id}), _twigStudyArea.isFrozen ? 'study-area.frozen'|trans : '') }}
    {{ buttons.remove_button(path('app_learningoutcome_remove', {learningOutcome: learningOutcome.id}), _twigStudyArea.isFrozen ? 'study-area.frozen'|trans : '') }}
  {% endif %}
  {{ buttons.list_button(path('app_learningoutcome_list')) }}
  {{ buttons.footer() }}
{% endblock %}

{% block title %}
  {{ learningOutcome.shortName }}
{% endblock %}

{% block content %}
  <div class="ltb-text-container">
    {{ learningOutcome.text|striptags(allowed_ckeditor_tags)|raw }}
  </div>

  {% import '_data/_data_templates.html.twig' as macros %}
  {{ macros.data_concepts(learningOutcome.concepts) }}
{% endblock %}
