{% extends 'single_column.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    var _currentConceptId = {{ concept.id }};
  </script>
{% endblock %}

{% block title %}
  {{ 'concept.instantiate.instantiate'|trans }}
{% endblock %}

{% block content %}
  <p>{{ 'concept.instantiate.instantiate-text'|trans }}</p>

  {{ form(form) }}
{% endblock %}
