{% extends 'single_column.html.twig' %}

{% block before_title %}
  {% if is_granted('STUDYAREA_EDIT', studyArea) %}
    {% import '_macro/_action_buttons.html.twig' as buttons %}
    {{ buttons.header() }}
    {{ buttons.progress_button() }}
    {% if instances|default(false) %}
      {{ buttons._action_button(path('app_concept_instantiate'), 'fa-code-fork', 'concept.instantiate.instantiate', 'success', false, false, _twigStudyArea.isFrozen ? 'study-area.frozen'|trans : '') }}
    {% endif %}
    {{ buttons.add_button(path('app_concept_add', instances|default(false) ? {instance: true} : {}), _twigStudyArea.isFrozen ? 'study-area.frozen'|trans : '') }}
    {{ buttons.footer() }}
  {% endif %}
{% endblock %}

{% block title %}
  {% if instances|default(false) %}
    {{ 'concept.instance-list-title'|trans }}
  {% else %}
    {{ 'concept.list-title'|trans }}
  {% endif %}
{% endblock %}

{% macro list(concepts, studyArea, annotationCounts) %}
  {% import '_macro/_action_buttons.html.twig' as buttons %}
  <table id="concept-table" class="table table-hover table-datatable table-bordered">
    <thead>
    <tr>
      <th scope="col">{{ 'concept.name'|trans }}<i class="sort"></i></th>
      <th scope="col">{{ 'concept.instance'|trans }}<i class="sort"></i></th>
      <th scope="col">{{ 'concept.outgoing-relations'|trans }}<i class="sort"></i></th>
      <th scope="col">{{ 'concept.incoming-relations'|trans }}<i class="sort"></i></th>
      {% if app.user %}
        <th scope="col">{{ 'annotations.list-count'|trans }}<i class="sort"></i></th>
      {% endif %}
      <th scope="col" class="actions">{{ 'form.actions'|trans }}<i class="sort"></i></th>
    </tr>
    </thead>
    <tbody>
    {% for concept in concepts %}
      <tr>
        <td>
          <a href="#" onclick="eDispatch.showConcept({{- concept.id -}});" data-toggle="tooltip"
             title="{{ 'browser.open'|trans }}">{{ concept.name }}</a>
        </td>
        <td data-sort="{{ concept.instance ? 0 : 1 }}">
          <i class="fa fa-fw {% if concept.instance %}fa-check{% else %}fa-times{% endif %}"></i>
        </td>
        <td>{{ concept.outgoingRelations|length }}</td>
        <td>{{ concept.incomingRelations|length }}</td>
        {% if app.user %}
          <td>{{ annotationCounts[concept.id]|default(0) }}</td>
        {% endif %}
        <td class="actions">
          {% if is_granted('STUDYAREA_PRINT', studyArea) %}
            {{ buttons.print_button(path('app_print_printsingleconcept', {concept: concept.id})) }}
          {% endif %}
          {{ buttons.show_button(path('app_concept_show', {concept: concept.id})) }}
          {% if is_granted('STUDYAREA_EDIT', studyArea) %}
            {{ buttons.edit_button_disabled_when_frozen(path('app_concept_edit', {concept: concept.id})) }}
            {{ buttons.remove_button_disabled_when_frozen(path('app_concept_remove', {concept: concept.id})) }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% block content %}
  {% from _self import list %}
  {{ list(concepts, studyArea, annotationCounts) }}
{% endblock %}

{% block javascripts_bottom %}
  {{ dataTable('concept-table', {
    columnDefs: [{searchable: false, orderable: false, targets: -1}]
  }) }}
{% endblock %}
