{% extends 'single_column.html.twig' %}

{% block before_title %}
  {% from '_macro/_action_bar.html.twig' import new_bar %}
  {{ new_bar(path('app_concept_add')) }}
{% endblock %}

{% block title %}
  {{ 'concept.list-title'|trans }}
{% endblock %}

{% block content %}
  <table class="table">
    <thead>
    <tr>
      <th scope="col">{{ 'concept.name'|trans }}</th>
      <th scope="col">{{ 'concept.relations'|trans }}</th>
      <th scope="col">{{ 'form.edit'|trans }}</th>
      <th scope="col">{{ 'form.show'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for concept in concepts %}
      <tr>
        <td>{{ concept.name }}</td>
        <td>{{ concept.relations|length + concept.indirectRelations|length }}</td>
        <td><a href="{{ path('app_concept_edit', {'concept': concept.id}) }}">{{ 'form.edit'|trans }}</a></td>
        <td><a href="{{ path('app_concept_show', {'concept': concept.id}) }}">{{ 'form.show'|trans }}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
