{% extends 'single_column.html.twig' %}

{% block before_title %}
  {% if is_granted('STUDYAREA_EDIT', studyArea) %}
    {% import '_macro/_action_buttons.html.twig' as buttons %}
    {{ buttons.header() }}
    {{ buttons.progress_button() }}
    {{ buttons.add_button(path('app_concept_add'), _twigStudyArea.isFrozen ? 'study-area.frozen'|trans : '') }}
    {{ buttons.footer() }}
  {% endif %}
{% endblock %}

{% block title %}
  {{ 'concept.list-title'|trans }}
{% endblock %}

{% macro list(concepts, studyArea) %}
  {% import '_macro/_action_buttons.html.twig' as buttons %}
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">{{ 'concept.name'|trans }}</th>
        <th scope="col">{{ 'concept.outgoing-relations'|trans }}</th>
        <th scope="col">{{ 'concept.incoming-relations'|trans }}</th>
        <th scope="col" class="actions">{{ 'form.actions'|trans }}</th>
      </tr>
      </thead>
      <tbody>
      {% for concept in concepts %}
        <tr>
          <td>
            <a href="#" onclick="eDispatch.showConcept({{- concept.id -}});" data-toggle="tooltip"
               title="{{ 'browser.open'|trans }}">{{ concept.name }}</a>
          </td>
          <td>{{ concept.outgoingRelations|length }}</td>
          <td>{{ concept.incomingRelations|length }}</td>
          <td class="actions">
            {{ buttons.show_button(path('app_concept_show', {'concept': concept.id})) }}
            {% if is_granted('STUDYAREA_EDIT', studyArea) %}
              {{ buttons.edit_button_disabled_when_frozen(path('app_concept_edit', {'concept': concept.id})) }}
              {{ buttons.remove_button_disabled_when_frozen(path('app_concept_remove', {'concept': concept.id})) }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endmacro %}

{% block content %}
  {% from _self import list %}
  {{ list(concepts, studyArea) }}
{% endblock %}
