{% extends 'single_column.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    var _currentConceptId = {{ concept.id }};
  </script>
{% endblock %}

{% block title %}
  {{ 'concept.remove'|trans({"%item%": concept.name}) }}
{% endblock %}

{% block content %}
  <p>{{ 'concept.remove-text'|trans({"%item%": concept.name}) }}</p>

  {% if learningPaths|length > 0 %}
    <div class="alert alert-danger fade-in" role="alert">
      <span class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></span>
      {{ 'concept.remove-in-learning-path'|trans({'%count%': learningPaths|length, '%type%': concept.instance ? 'concept.instance'|trans|lower : 'concept._name'|trans|lower }) }}
      {{ 'concept.remove-in-learning-path-warning'|trans({'%type%': concept.instance ? 'concept.instance'|trans|lower : 'concept._name'|trans|lower }) }}
      <ul style="margin-bottom: 0">
        {% for learningPath in learningPaths %}
          <li>
            <a href="{{ path('app_learningpath_show', {learningPath: learningPath.id}) }}">{{ learningPath.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% from '_macro/_review.html.twig' import reviewNotice %}
  {{ reviewNotice(concept) }}

  {{ form(form) }}
{% endblock %}
