{% extends 'single_column.html.twig' %}

{% block before_title %}
  {% import '_macro/_action_buttons.html.twig' as buttons %}
  {{ buttons.header() }}
  {{ buttons.browser_button(concept.id) }}
  {{ buttons.print_button(path('app_print_printsingleconcept', {'concept': concept.id})) }}
  {% if is_granted('STUDYAREA_EDIT', _twigStudyArea) %}
    {{ buttons.add_button(path('app_concept_add'), _twigStudyArea.isFrozen ? 'study-area.frozen'|trans : '') }}
    {{ buttons.edit_button(path('app_concept_edit', {'concept': concept.id}), _twigStudyArea.isFrozen ? 'study-area.frozen'|trans : '') }}
    {{ buttons.remove_button(path('app_concept_remove', {'concept': concept.id}), _twigStudyArea.isFrozen ? 'study-area.frozen'|trans : '') }}
  {% endif %}
  {{ buttons.list_button(path('app_concept_list')) }}
  {{ buttons.footer() }}

{% endblock %}

{% block title %}
  {{ concept.name }}
{% endblock %}

{% block content %}
  {% import '_data/_data_templates.html.twig' as macros %}
  {% from '_macro/_annotations.html.twig' import all as annotations %}
  <div class="annotations-container"
       data-annotations-study-area-id="{{ concept.studyArea.id }}"
       data-annotations-concept-id="{{ concept.id }}">
    {{ macros.data_definition(concept) }}
    {{ macros.data_introduction(concept.introduction) }}
    {{ macros.data_synonyms(concept.synonyms) }}
    {{ macros.data_prior_knowledge(concept.priorKnowledge) }}
    {{ macros.data_learning_outcomes(concept.learningOutcomes) }}
    {{ macros.data_theory_explanation(concept.theoryExplanation) }}
    {{ macros.data_how_to(concept.howTo) }}
    {{ macros.data_examples(concept.examples) }}
    {{ macros.data_external_resources(concept.externalResources) }}
    {{ macros.data_self_assessment(concept.selfAssessment) }}
    {{ macros.data_outgoing_relations(concept.outgoingRelations) }}
    {{ macros.data_incoming_relations(concept.incomingRelations) }}
    {{ macros.data_learning_paths(learningPaths) }}

    {{ annotations() }}
  </div>
{% endblock %}
