{% extends 'single_column.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    var _currentConceptId = {{ concept.id }};
  </script>
{% endblock %}

{% block before_title %}
  {% import '_macro/_action_buttons.html.twig' as buttons %}
  {% from '_macro/_annotations.html.twig' import toggle as annotationsToggle %}
  {{ buttons.header() }}
  {% if app.user %}
    {{ annotationsToggle() }}
  {% endif %}
  {{ buttons.browser_button(concept.id) }}
  {% if is_granted('STUDYAREA_PRINT', concept.studyArea) %}
    {{ buttons.print_button(path('app_print_printsingleconcept', {'concept': concept.id})) }}
  {% endif %}
  {% if is_granted('STUDYAREA_EDIT', concept.studyArea) %}
    {{ buttons.add_button(path('app_concept_add'), concept.studyArea.isFrozen ? 'study-area.frozen'|trans : '') }}
    {{ buttons.edit_button(path('app_concept_edit', {'concept': concept.id}), concept.studyArea.isFrozen ? 'study-area.frozen'|trans : '') }}
    {{ buttons.remove_button(path('app_concept_remove', {'concept': concept.id}), concept.studyArea.isFrozen ? 'study-area.frozen'|trans : '') }}
  {% endif %}
  {{ buttons.list_button(path(concept.instance ? 'app_concept_listinstances': 'app_concept_list')) }}
  {{ buttons.footer() }}
{% endblock %}

{% block title %}
  {{ concept.name }}
{% endblock %}

{% block content %}
  {% import '_data/_data_templates.html.twig' as macros %}
  {% from '_macro/_annotations.html.twig' import all as annotations %}

  {% if concept.instance %}
    <p class="font-weight-bold font-italic">{{ 'concept.instance-text'|trans }}</p>
  {% endif %}

  <div
      {% if app.user %}
        {# Only load annotations for registered users #}
        class="annotations-container"
        data-annotations-study-area-id="{{ concept.studyArea.id }}"
        data-annotations-concept-id="{{ concept.id }}"
        data-annotations-user-id="{{ app.user.id }}"
        data-annotations-is-study-area-owner="{{ is_granted("STUDYAREA_OWNER", concept.studyArea) ? 'true' : 'false' }}"
      {% endif %}
  >

    {{ macros.data_definition(concept) }}
    {{ macros.data_tags(concept.tags) }}
    {{ macros.data_introduction(concept.introduction) }}
    {{ macros.data_theory_explanation(concept.theoryExplanation) }}
    {{ macros.data_examples(concept.examples) }}
    {{ macros.data_how_to(concept.howTo) }}
    {{ macros.data_synonyms(concept.synonyms) }}
    {{ macros.data_external_resources(concept.externalResources) }}
    {{ macros.data_learning_outcomes(concept.learningOutcomes) }}
    {{ macros.data_prior_knowledge(concept.priorKnowledge) }}
    <!-- {{ macros.data_self_assessment(concept.selfAssessment) }} -->
    {{ macros.data_additional_resources(concept.additionalResources) }}
    {{ macros.data_outgoing_relations(concept.outgoingRelations) }}
    {{ macros.data_incoming_relations(concept.incomingRelations) }}
    {{ macros.data_learning_paths(learningPaths) }}
    {{ macros.data_contributors(concept.contributors) }}

    {% if app.user %}
      {{ annotations() }}
    {% endif %}
  </div>
{% endblock %}
