<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Living Textbook by ITC, University of Twente{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block default_javascripts %}
    <!-- Default JS -->
    <script src="{{ asset('build/manifest.js') }}" type="text/javascript"></script>
    <script src="{{ asset('build/vendor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('build/app.js') }}" type="text/javascript"></script>
  {% endblock %}

  <!-- Included JS -->
  {% block javascripts %}{% endblock %}

  <!-- Default CSS -->
  {% block default_stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/vendor.css') }}"/>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
  {% endblock %}

  <!-- Included CSS -->
  {% block stylesheets %}{% endblock %}
</head>
<body>
  {% block _flashbags %}{% include '_layout/flashbags.html.twig' %}{% endblock %}
  {% block base_content %}{% endblock %}
  {% block javascripts_bottom %}{% endblock %}
</body>
</html>
