{% macro flashbag_alert(type, message, icon, close, raw) %}
  <div class="alert alert-{{ type }}{% if close %} alert-dismissible{% endif %} fade-in" role="alert">
    {% if close %}
      <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'general.close'|trans }}">
        <span aria-hidden="true">&times;</span>
      </button>
    {% endif %}
    <div class="d-flex">
      {% if icon is not null %}
        <div class="mr-3">
          <span class="fa fa-fw {{ icon }}" aria-hidden="true"></span>
        </div>
      {% endif %}
      <div class="flex-fill">
        {% if raw|default(false) %}
          {{ message|raw }}
        {% else %}
          {{ message }}
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}

{% apply spaceless %}
  <div id="flashbag-container">
    {% block flashbags %}
      {% from _self import flashbag_alert %}

      {# General error messages #}
      {% for flash_message in app.session.flashbag.get('error') %}
        {{ flashbag_alert('danger', flash_message, 'fa-exclamation-triangle', true) }}
      {% endfor %}

      {# General notice message #}
      {% for flash_message in app.session.flashbag.get('warning') %}
        {{ flashbag_alert('warning', flash_message, 'fa-exclamation', true) }}
      {% endfor %}

      {# General success messages #}
      {% for flash_message in app.session.flashbag.get('success') %}
        {{ flashbag_alert('success', flash_message, 'fa-check', true) }}
      {% endfor %}

      {# General info messages #}
      {% for flash_message in app.session.flashbag.get('info') %}
        {{ flashbag_alert('info', flash_message, 'fa-info', true) }}
      {% endfor %}
      {% for flash_message in app.session.flashbag.get('notice') %}
        {{ flashbag_alert('info', flash_message, 'fa-info', true) }}
      {% endfor %}

    {% endblock %}
  </div>
{% endapply %}
