<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ path('app_default_dashboard') }}">Living Textbook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_default_dashboard') }}">{{ 'app.dashboard'|trans }}</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="edit-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ 'menu.show'|trans }}
        </a>
        <div class="dropdown-menu" aria-labelledby="edit-dropdown">
          <a class="dropdown-item" href="{{ path('app_concept_list') }}">{{ 'menu.concept'|trans }}</a>
          <a class="dropdown-item" href="{{ path('app_abbreviation_list') }}">{{ 'menu.abbreviations'|trans }}</a>
          <a class="dropdown-item" href="{{ path('app_externalresource_list') }}">{{ 'menu.external-resources'|trans }}</a>
          <a class="dropdown-item" href="{{ path('app_learningoutcome_list') }}">{{ 'menu.learning-outcomes'|trans }}</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="data-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ 'menu.data'|trans }}
        </a>
        <div class="dropdown-menu" aria-labelledby="data-dropdown">
          <a class="dropdown-item" href="{{ path('app_data_duplicate') }}">{{ 'menu.duplicate'|trans }}</a>
          <a class="dropdown-item" href="{{ path('app_data_download') }}">{{ 'menu.download'|trans }}</a>
          {% if is_granted("STUDYAREA_EDIT", _twigStudyArea) %}
            <a class="dropdown-item" href="{{ path('app_data_upload') }}">{{ 'menu.import-data'|trans }}</a>
          {% endif %}
        </div>
      </li>

      {% if is_granted("STUDYAREA_EDIT", _twigStudyArea) %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="config-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ 'menu.config'|trans }}
          </a>
          <div class="dropdown-menu" aria-labelledby="config-dropdown">
            <a class="dropdown-item" href="{{ path('app_relationtype_list') }}">{{ 'menu.relation-type'|trans }}</a>
            {% if is_granted("STUDYAREA_OWNER", _twigStudyArea) %}
              <a class="dropdown-item" href="{{ path('app_permissions_studyarea') }}">{{ 'menu.permissions'|trans }}</a>
            {% endif %}
            {% if is_granted("ROLE_SUPER_ADMIN") %}
              <a class="dropdown-item" href="{{ path('app_permissions_admins') }}">{{ 'menu.admin'|trans }}</a>
            {% endif %}
          </div>
        </li>
      {% endif %}

    </ul>

    <a class="btn btn-outline-primary ml-lg-2" href="#" onclick="eDispatch.toggleConceptBrowser(); $(this).blur();">{{ 'browser.toggle'|trans }}</a>

    {% if app.user %}
      <a class="btn btn-outline-dark ml-lg-2 top-level" href="{{ path('logout') }}">{{ 'login.logout'|trans }}</a>
    {% else %}
      <a class="btn btn-outline-primary ml-lg-2 top-level" href="{{ path('login') }}">{{ 'login.login'|trans }}</a>
    {% endif %}
  </div>
</nav>
