<div class="global-search-form">
  {{ render(controller('App\\Controller\\SearchController::searchForm')) }}
</div>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-logo-brand" href="{{ path('app_default_dashboard') }}">
    <div class="navbar-logo"></div>
    <div class="navbar-brand">
      Living Textbook
    </div>
  </a>

  <div class="navbar-toggler global-search-container">
    <a class="btn btn-outline-primary global-search" href="#">
      <i class="fa fa-fw fa-search"></i>
    </a>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_default_dashboard') }}">{{ 'app.dashboard'|trans }}</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="edit-dropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          {{ 'menu.show'|trans }}
        </a>
        <div class="dropdown-menu" aria-labelledby="edit-dropdown">
          <a class="dropdown-item"
             href="{{ path('app_concept_list') }}">{{ 'menu.concept'|trans }}</a>
          <a class="dropdown-item"
             href="{{ path('app_learningpath_list') }}">{{ 'menu.learning-paths'|trans }}</a>
          <a class="dropdown-item"
             href="{{ path('app_abbreviation_list') }}">{{ 'menu.abbreviations'|trans }}</a>
          <a class="dropdown-item"
             href="{{ path('app_externalresource_list') }}">{{ 'menu.external-resources'|trans }}</a>
          <a class="dropdown-item"
             href="{{ path('app_learningoutcome_list') }}">{{ 'menu.learning-outcomes'|trans }}</a>
        </div>
      </li>

      {% if is_granted("STUDYAREA_EDIT", _twigStudyArea) %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="data-dropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            {{ 'menu.data'|trans }}
          </a>

          <div class="dropdown-menu" aria-labelledby="data-dropdown">
            <a class="dropdown-item" href="{{ path('app_data_excelstatus') }}"
               target="_blank">{{ 'menu.excel-status'|trans }}</a>
            <a class="dropdown-item"
               href="{{ path('app_default_urloverview') }}">{{ 'menu.urls'|trans }}</a>
            {% if is_granted("STUDYAREA_OWNER", _twigStudyArea) %}
              <a class="dropdown-item" href="{{ path('app_tracking_export') }}"
                 target="_blank">{{ 'menu.tracking-export'|trans }}</a>
              <a class="dropdown-item" href="{{ path('app_data_duplicate') }}">{{ 'menu.duplicate'|trans }}</a>
            {% endif %}
            <a class="dropdown-item" href="{{ path('app_data_download') }}">{{ 'menu.download'|trans }}</a>
            <a class="dropdown-item" href="{{ path('app_data_upload') }}">{{ 'menu.import-data'|trans }}</a>
          </div>
        </li>
      {% endif %}

      {% if not app.user.isOidc or is_granted("STUDYAREA_EDIT", _twigStudyArea) %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="config-dropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            {{ 'menu.config'|trans }}
          </a>
          <div class="dropdown-menu" aria-labelledby="config-dropdown">
            {% if is_granted("STUDYAREA_EDIT", _twigStudyArea) %}
              <a class="dropdown-item" href="{{ path('app_relationtype_list') }}">{{ 'menu.relation-type'|trans }}</a>
            {% endif %}

            {% if is_granted("STUDYAREA_OWNER", _twigStudyArea) %}
              <a class="dropdown-item" href="{{ path('app_permissions_studyarea') }}">{{ 'menu.permissions'|trans }}</a>
            {% endif %}

            {% if is_granted("ROLE_SUPER_ADMIN") %}
              <a class="dropdown-item" href="{{ path('app_permissions_admins') }}">{{ 'menu.admin'|trans }}</a>
              <a class="dropdown-item" href="{{ path('app_user_fallbacklist') }}">{{ 'menu.fallback-users'|trans }}</a>
            {% endif %}

            {% if not app.user.isOidc %}
              <a class="dropdown-item"
                 href="{{ path('app_user_fallbackchangeownpassword') }}">{{ 'menu.change-password'|trans }}</a>
            {% endif %}
          </div>
        </li>
      {% endif %}

    </ul>

    <div class="navbar-collapse collapse" style="flex-grow: unset">
      <a class="btn btn-outline-primary ml-lg-2 global-search" href="#">
        <i class="fa fa-fw fa-search"></i>
      </a>
    </div>

    <a class="btn btn-outline-primary ml-lg-2" href="#" onclick="eDispatch.toggleConceptBrowser(); $(this).blur();">
      <i class="fa fa-fw fa-map"></i>
      {{ 'browser.toggle'|trans }}
    </a>

    <a class="btn btn-outline-dark ml-lg-2 top-level" href="{{ path('logout') }}">{{ 'login.logout'|trans }}</a>
  </div>
</nav>
