{% extends 'simple_card.html.twig' %}

{% block title %}
  {{ 'login.login'|trans|capitalize }}
{% endblock %}

{% block content %}
  <p class="card-text">{{ 'login.login-text'|trans }}</p>
  <p class="card-text">{{ 'login.privacy-policy-text'|trans }}<a href="https://www.utwente.nl/en/about-our-website/" target="_blank" class="no-block">{{ 'login.privacy-policy'|trans|lower }}</a>.</p>

  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
      <a class="nav-link{% if not formActive %} active{% endif %}" id="tab-surfconext-button" href="#tab-surfconext" role="tab" data-toggle="tab" >
        {{ 'login.surfconext'|trans }}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if formActive %} active{% endif %}" id="tab-custom-account-button" href="#tab-custom-account" role="tab" data-toggle="tab" >
        {{ 'login.custom-account'|trans }}
      </a>
    </li>
  </ul>
  <div class="tab-content" id="login-option">

    <div class="tab-pane{% if not formActive %} active{% endif %}" id="tab-surfconext" role="tabpanel" aria-labelledby="tab-surfconext-button">
      <a href="{{ path('login_surf') }}" class="no-block" data-toggle="tooltip" data-placement="bottom" title="{{ 'login.surfconext-login'|trans }}">
        <div class="login-surfconext"></div>
      </a>
      <p class="card-text text-center">{{ 'login.surfconext-login-text'|trans }}</p>
    </div>

    <div class="tab-pane {% if formActive %} active{% endif %}" id="tab-custom-account" role="tabpanel" aria-labelledby="tab-custom-account-button">
      {{ form(form) }}
    </div>
  </div>
{% endblock %}
