{% extends 'single_column.html.twig' %}

{% block base_content %}
<div class="container-fluid">
  <div class="row justify-content-center mt-3">
    <div class="col-12 col-sm-10 col-md-8 col-xl-6">
      <div class="card">
        <h1 class="card-header">{{ 'login.login'|trans|capitalize }}</h1>
        <div class="card-body">
          <p class="card-text">{{ 'login.login-text'|trans }}</p>
          <h5>{{ 'login.surfconext'|trans }}</h5>
          <p class="card-text">{{ 'login.surfconext-login-text'|trans }}</p>
          <a href="{{ path('app_authentication_surfconext') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'login.surfconext-login'|trans }}">
            <div class="login-surfconext"></div>
          </a>
          <h5>{{ 'login.custom-account'|trans }}</h5>
          {{ form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
