{% extends '_layout/base.html.twig' %}

{% block javascripts %}
  <!--suppress JSUnusedLocalSymbols -->
  <script type="text/javascript">
    var _studyArea = {{ studyArea.id }};
    var _trackUser = {{ studyArea.trackUsers ? "true" : "false" }};
  </script>
  {{ encore_entry_script_tags('double-column') }}
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('double-column') }}
{% endblock %}

{% block base_content %}
  <div id="invisible-frame"></div>
  <div id="double-column-container">
    <div id="left-container">
      <div id="left-container-content">
        <iframe id="data-iframe" src="{{ pageUrl }}" onload="dw.iframeLoader(false)"></iframe>
      </div>
      <div id="left-container-loader">
        <div><i class="fa fa-circle-o-notch fa-spin"></i></div>
      </div>
    </div>
    <div id="draggable-bar">
      <div id="draggable-bar-inner">
        <div class="button-container">
          <button id="drag-button" class="drag-window">
            <span>Drag button</span>
          </button>
        </div>
      </div>
    </div>
    <div id="right-container">
      <div class="animation-opacity-container">
        <div id="concept-browser-controls" class="container-fluid">
          <div class="row justify-content-between">
            <div class="search-container">
              <input id="search" title="Search" class="form-control form-control-sm" autocomplete="off"
                     placeholder="{{ 'browser.search'|trans }}">
            </div>
            <div class="action-container">
              <button id="close-button" class="btn btn-light btn-sm" type="button" data-toggle="tooltip"
                      title="{{ 'browser.close'|trans }}">
                <i class="fa fa-fw fa-times"></i>
              </button>
              <button id="fullscreen-button" class="btn btn-light btn-sm" type="button" data-toggle="tooltip"
                      title="{{ 'browser.fullscreen-toggle'|trans }}">
                <i class="fa fa-fw fa-arrows-alt"></i>
              </button>
              <button id="filter-button" class="btn btn-light btn-sm" type="button" data-toggle="tooltip"
                      title="{{ 'browser.filter'|trans }}">
                <i class="fa fa-fw fa-filter"></i>
              </button>
              <div id="filter-content">
                <form onsubmit="return false;">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="filter-show-instances" checked>
                    <label class="checkbox-custom custom-control-label" for="filter-show-instances">
                      {{ 'browser.filters.show-instances'|trans }}
                    </label>
                  </div>

                  <div id="filter-content-tags">

                    <div class="mt-2">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="filter-tags-enabled" checked>
                        <label class="checkbox-custom custom-control-label w-100" for="filter-tags-enabled">
                          {{ 'browser.filters.tags'|trans }}
                        </label>
                      </div>
                      <div style="padding-left: 1.5rem">
                        <div class="d-flex">
                          <div class="flex-fill">
                            <select id="filter-tags" multiple></select>
                          </div>
                          <div class="flex-grow-0 flex-shrink-0 ml-1 align-self-center">
                            <input id="filter-tags-or" type="checkbox" data-toggle="toggle" checked
                                   data-size="sm"
                                   data-width="60px" data-height="17px" {# Are required for correct rendering #}
                                   data-on="{{ 'browser.filters.or'|trans }}"
                                   data-off="{{ 'browser.filters.and'|trans }}"
                                   data-onstyle="primary" data-offstyle="primary">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="mt-2">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="filter-tag-colors-enabled" checked>
                        <label class="checkbox-custom custom-control-label" for="filter-tag-colors-enabled">
                          {{ 'browser.filters.tag-color'|trans }}
                        </label>
                      </div>
                      <div style="padding-left: 1.5rem;">
                        <div id="filter-tag-color-prototype" class="d-none">
                          <div class="d-flex my-1 filter-tag-color">
                            <div class="flex-fill">
                              <select></select>
                            </div>
                            <div class="color-picker ml-1" style="width: 60px">
                              <input type="color" class="form-control">
                            </div>
                          </div>
                        </div>

                        <div id="filter-tag-color-container" class="mt-n1"></div>

                        <div>
                          <small class="form-text text-muted">{{ 'browser.filters.tag-color-help'|trans }}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <button id="refresh-button" class="btn btn-light btn-sm" type="button" data-toggle="tooltip"
                      title="{{ 'browser.refresh'|trans }}">
                <i class="fa fa-fw fa-refresh"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="right-container-content">
        {% block content_right %}
          <div id="graph_container_div">
            <canvas id="graph_container_canvas"></canvas>
          </div>
        {% endblock %}
      </div>
      <div class="animation-opacity-container">
        <div id="concept-browser-controls-bottom" class="container-fluid">
          <div class="row justify-content-between">
            <div class="pause-container">
              <button id="pause-button" class="btn btn-light btn-sm" type="button" data-toggle="tooltip"
                      title="{{ 'browser.pause'|trans }}">
                <i class="fa fa-pause"></i>
              </button>
              <button id="play-button" class="btn btn-success btn-sm" type="button" data-toggle="tooltip"
                      title="{{ 'browser.play'|trans }}">
                <i class="fa fa-play"></i>
              </button>
            </div>
            <div class="action-container">
              <button id="zoom-in-button" class="btn btn-light btn-sm" type="button" data-toggle="tooltip"
                      title="{{ 'browser.zoom-in'|trans }}">
                <i class="fa fa-fw fa-search-plus"></i>
              </button>
              <button id="zoom-out-button" class="btn btn-light btn-sm" type="button" data-toggle="tooltip"
                      title="{{ 'browser.zoom-out'|trans }}">
                <i class="fa fa-fw fa-search-minus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="bottom-row">
    <div id="bottom-row-container">
      <div id="bottom-draggable-bar">
        <div id="bottom-draggable-bar-inner">
          <div class="button-container">
            <button id="bottom-drag-button" class="drag-window">
              <span>Drag button</span>
            </button>
          </div>
        </div>
      </div>
      <div id="learning-path-browser-controls" class="container-fluid">
        <div class="row justify-content-between flex-row-reverse">
          <div class="action-container">
            <button id="learning-path-close-button" class="btn btn-light btn-sm" type="button" data-toggle="tooltip"
                    title="{{ 'learning-path.close'|trans }}">
              <i class="fa fa-fw fa-times"></i>
            </button>
          </div>
        </div>
      </div>
      <div id="bottom-container-content">
        <div id="learning-path-title">
          <a href="#" id="learning-path-title-link">&nbsp;</a>
        </div>
        <div id="learning-path-scroll-left">
          <button id="learning-path-scroll-left-button" class="btn btn-light btn-sm" type="button"
                  data-toggle="tooltip" title="{{ 'learning-path.scroll-left'|trans }}">
            <i class="fa fa-fw fa-caret-left"></i>
          </button>
        </div>
        <div id="learning-path-canvas-div">
          <canvas id="learning-path-canvas"></canvas>
          <div id="learning-path-tooltip-handle"></div>
        </div>
        <div id="learning-path-scroll-right">
          <button id="learning-path-scroll-right-button" class="btn btn-light btn-sm" type="button"
                  data-toggle="tooltip" title="{{ 'learning-path.scroll-right'|trans }}">
            <i class="fa fa-fw fa-caret-right"></i>
          </button>
        </div>
      </div>
      <div id="bottom-container-loader">
        <div><i class="fa fa-circle-o-notch fa-spin"></i></div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="tracking-modal" tabindex="-1" role="dialog" aria-labelledby="tracking-modal"
       aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tracking-modal-label">{{ 'study-area.tracking-consent-title'|trans }}</h5>
        </div>
        <div class="modal-body">
          {{ 'study-area.tracking-consent'|trans({ '%studyArea%': studyArea.name })|nl2br }}
        </div>
        <div class="modal-footer justify-content-between">
          <button id="tracking-modal-agree" type="button" class="btn btn-success w-25">
            {{ 'study-area.tracking-consent-agree'|trans }}
          </button>
          <button id="tracking-modal-disagree" type="button" class="btn btn-danger w-25">
            {{ 'study-area.tracking-consent-disagree'|trans }}
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
