{% extends '_layout/base.html.twig' %}

{% block javascripts %}
  <!--suppress JSUnusedLocalSymbols -->
  <script type="text/javascript">
    var currentPath = "{{ app.request.pathinfo|escape('js') }}";
  </script>
  <script src="{{ asset('build/content.js') }}" type="text/javascript"></script>

  {% if form is defined %}
    <script src="{{ asset('ckeditor/ckeditor.js') }}" type="text/javascript"></script>
  {% endif %}
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('build/content.css') }}"/>
{% endblock %}

{% block base_content %}
  {% block _menu %}{% include '_layout/menu.html.twig' %}{% endblock %}
  <div class="container-fluid with-menu">
    <div class="card container-card">
      <div class="card-body">
        <div id="no-browser-warning" style="display: none">
          <div class="alert alert-warning alert-dismissible fade-in" role="alert">
            <span class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="{{ "general.close"|trans }}">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ 'general.no-browser-warning'|trans({'%url%': '/page' ~ app.request.pathinfo})|striptags('<a>')|raw }}
          </div>
        </div>
        {% block _flashbags %}{% include '_layout/flashbags.html.twig' %}{% endblock %}
        {% block before_title %}{% endblock %}
        {% block content_title %}<h1>{{ block('title') }}</h1>{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
