{% extends '_layout/base.html.twig' %}

{% block javascripts %}
  <!--suppress JSUnusedLocalSymbols -->
  <script type="text/javascript">
    var currentPath = "{{ app.request.pathinfo|escape('js') }}";
    var currentStudyArea = {{ _twigStudyArea|default({id: 0}).id }};
  </script>
  {{ encore_entry_script_tags('content') }}

  {% if form is defined %}
    <script type="text/javascript">
      var ckeditorCss = '{{ asset('build/ckeditorContents.css') }}';
    </script>
    <script src="{{ asset('ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    {{ encore_entry_script_tags('ckeditorPatches') }}
  {% endif %}
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('content') }}
{% endblock %}

{% block footer %}
  <div class="footer">
    <a href="https://www.itc.nl" target="_blank">
      <div class="logo logo-itc"></div>
    </a>
    <a href="https://www.utwente.nl" target="_blank">
      <div class="logo logo-ut"></div>
    </a>
    <div class="clearfix"></div>
  </div>
{% endblock %}

{% block base_content %}
  {% block _menu %}{% include '_layout/menu.html.twig' %}{% endblock %}
  <div class="container-fluid with-menu">
    <div class="card container-card">
      <div class="card-body">
        {% block before_title %}{% endblock %}
        {% block content_title %}<h1>{{ block('title') }}</h1>{% endblock %}
        {% block _flashbags %}{% include '_layout/flashbags.html.twig' %}{% endblock %}
        <div id="no-browser-warning" style="display: none">
          {% from '_layout/flashbags.html.twig' import flashbag_alert %}
          {{ flashbag_alert('warning', 'general.no-browser-warning'|trans({'%url%': '/page' ~ app.request.pathinfo})|striptags('<a>'), 'fa-exclamation-triangle', true, true) }}
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block second_content %}{% endblock %}
    {{ block('footer') }}
  </div>
{% endblock %}
