{% extends 'single_column.html.twig' %}

{% block before_title %}
  {% from '_macro/_action_bar.html.twig' import new_and_duplicate_bar %}
  {{ new_and_duplicate_bar(path('app_studyarea_add'), path('app_data_duplicate')) }}
{% endblock %}

{% block title %}
  {{ 'study-area.list-title'|trans }}
{% endblock %}

{% block content %}
  <table class="table">
    <thead>
    <tr>
      <th scope="col">{{ 'study-area.name'|trans }}</th>
      <th scope="col">{{ 'study-area.owner'|trans }}</th>
      <th scope="col">{{ 'study-area.access-type'|trans }}</th>
      <th scope="col">{{ 'study-area.switch-to'|trans }}</th>
      <th scope="col">{{ 'form.show'|trans }}</th>
      <th scope="col">{{ 'form.edit'|trans }}</th>
      <th scope="col">{{ 'form.remove'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for studyArea in studyAreas %}
      <tr>
        <td>{{ studyArea.name }}</td>
        <td>
          {% if is_granted('STUDYAREA_OWNER', studyArea) %}
            <a href="{{ path('app_studyarea_transferowner', {'studyArea': studyArea.id}) }}"
              data-toggle="tooltip" title="{{ 'study-area.transfer-ownership'|trans }}">
              {{ studyArea.owner.displayName }}</a>
          {% else %}
          {{ studyArea.owner.displayName }}
          {% endif %}
        </td>
        <td>{{ studyArea.accessType|capitalize }}</td>
        <td>
          {% if studyArea.id == currentStudyArea.id %}
            {{ 'study-area.current'|trans }}
          {% else %}
            <a class="top-level" href="{{ path('_home', {'_studyArea': studyArea.id}) }}">{{ 'study-area.switch-to'|trans }}</a>
          {% endif %}
        </td>
        <td><a href="{{ path('app_studyarea_show', {'studyArea': studyArea.id}) }}">{{ 'form.show'|trans }}</a></td>
        {% if is_granted('STUDYAREA_OWNER', studyArea) %}
          <td><a href="{{ path('app_studyarea_edit', {'studyArea': studyArea.id}) }}">{{ 'form.edit'|trans }}</a></td>
          <td><a href="{{ path('app_studyarea_remove', {'studyArea': studyArea.id}) }}">{{ 'form.remove'|trans }}</a></td>
        {% else %}
          <td></td><td></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
