{% extends 'single_column.html.twig' %}

{% block title %}
  {{ 'study-area.remove'|trans({"%item%": studyArea.name}) }}
{% endblock %}

{% block content %}

  {% if uniqueConcepts|length < 1 %}
    <p>{{ 'study-area.remove-text'|trans({"%item%": studyArea.name}) }}</p>

    {{ form(form) }}
  {% else %}
    <p>{{ 'study-area.remove-impossible'|trans }}</p>
    {% from 'concept/list.html.twig' import list %}
    {{ list(uniqueConcepts) }}
  {% endif %}
{% endblock %}
