{% extends 'single_column.html.twig' %}

{% block before_title %}
  {% import '_macro/_action_buttons.html.twig' as buttons %}
  {{ buttons.header() }}
  {{ buttons.add_button(path('app_user_fallbackadd')) }}
  {{ buttons.footer() }}
{% endblock %}

{% block title %}
  {{ 'user.fallback.user-list'|trans }}
{% endblock %}

{% block content %}
  {% import '_macro/_action_buttons.html.twig' as buttons %}
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">{{ 'user.display-name'|trans }}</th>
        <th scope="col">{{ 'login.username'|trans }}</th>
        <th scope="col" class="actions">{{ 'form.actions'|trans }}</th>
      </tr>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.displayName }}</td>
          <td><a href="mailto:{{ user.username }}">{{ user.username }}</a></td>
          <td class="actions">
            {{ buttons.edit_button(path('app_user_fallbackedit', {'user': user.id})) }}
            {{ buttons._action_button(path('app_user_fallbackresetpassword', {'user': user.id}), 'fa-undo', 'user.fallback.reset-password-short'|trans, 'warning') }}
            {% if user.id != app.user.id %}
              {{ buttons.remove_button(path('app_user_fallbackremove', {'user': user.id})) }}
            {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
