{% block data_display_block %}
  {% if data.hasData %}
    {% if title is defined %}<h3>{{ title }}</h3>{% endif %}
    {{ data.text|striptags(allowed_ckeditor_tags)|raw }}
  {% endif %}
{% endblock %}

{% macro data_introduction(data) %}
  {{ block('data_display_block') }}
{% endmacro %}

{% macro data_learning_outcomes(data) %}
  {% set title = 'concept.learning-outcomes'|trans %}
  {{ block('data_display_block') }}
{% endmacro %}

{% macro data_theory_explanation(data) %}
  {% set title = 'concept.theory-explanation'|trans %}
  {{ block('data_display_block') }}
{% endmacro %}

{% macro data_how_to(data) %}
  {% set title = 'concept.how-to'|trans %}
  {{ block('data_display_block') }}
{% endmacro %}

{% macro data_examples(data) %}
  {% set title = 'concept.examples'|trans %}
  {{ block('data_display_block') }}
{% endmacro %}

{% macro data_self_assessment(data) %}
  {% set title = 'concept.self-assessment'|trans %}
  {{ block('data_display_block') }}
{% endmacro %}

{% block data_display_relations %}
  <h3>{{ title }}</h3>
  <ul>
    {% for relation in relations %}
      <li>{{ relation.source.name }} {{ relation.relationType.name }} {{ relation.target.name }}</li>
    {% endfor %}
  </ul>
{% endblock %}

{% macro data_relations(relations) %}
  {% if relations|length > 0 %}
    {% set title = 'concept.relations'|trans %}
    {{ block('data_display_relations') }}
  {% endif %}
{% endmacro %}

{% macro data_indirect_relations(relations) %}
  {% if relations|length > 0 %}
    {% set title = 'concept.indirect-relations'|trans %}
    {{ block('data_display_relations') }}
  {% endif %}
{% endmacro %}
