{% block data_display_block %}
  {% if data.hasData %}
    {% if title is defined %}
      <h2 data-annotations-contains-text="false"
          data-annotations-context="{{ annotationContext|default('') }}">
        {{ title }}<span class="header-marker">&#xfeff;</span>
      </h2>
    {% endif %}
    <div class="ltb-text-container"
         data-annotations-contains-text="true"
         data-annotations-context="{{ annotationContext|default('') }}"
         data-annotations-version="{{ data.lastUpdated|default('now'|date)|date('c') }}">
      {{ data.text|striptags(allowed_ckeditor_tags)|raw }}
    </div>
  {% endif %}
{% endblock %}

{% macro data_definition(concept) %}
  {% if concept.definition|length > 0 %}
    <div data-annotations-contains-text="true"
       data-annotations-context="definition"
       data-annotations-version="{{ concept.lastUpdated|default('now'|date)|date('c') }}">
      {{ concept.definition|striptags(allowed_ckeditor_tags)|raw}}
    </div>
  {% endif %}
{% endmacro %}

{% macro data_introduction(data) %}
  {% set title = naming.get.concept.introduction|capitalize %}
  {% set annotationContext = 'introduction' %}
  {{ block('data_display_block') }}
{% endmacro %}

{% macro data_synonyms(data) %}
  {% if data|length > 0 %}
    <h2>{{ naming.get.concept.synonyms|capitalize }}</h2>
    <p>{{ data }}</p>
  {% endif %}
{% endmacro %}

{% macro data_theory_explanation(data) %}
  {% set title = naming.get.concept.theoryExplanation|capitalize %}
  {% set annotationContext = 'theory_explanation' %}
  {{ block('data_display_block') }}
{% endmacro %}

{% macro data_how_to(data) %}
  {% set title = naming.get.concept.howTo|capitalize %}
  {% set annotationContext = 'how-to' %}
  {{ block('data_display_block') }}
{% endmacro %}

{% macro data_examples(data) %}
  {% set title = naming.get.concept.examples|capitalize %}
  {% set annotationContext = 'examples' %}
  {{ block('data_display_block') }}
{% endmacro %}

{% macro data_external_resources(data) %}
  {% if data|length > 0 %}
    <h2>{{ 'concept.external-resources'|trans }}</h2>
    <ul>
      {% from _self import render_external_resource %}
      {% for resource in data %}
        <li>
          {{ render_external_resource(resource) }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_external_resource(resource) %}
  {% if resource.url is not empty %}
    <a href="{{ resource.url }}" target="_blank">{{ resource.title }}</a>
  {% else %}
    {{ resource.title }}
  {% endif %}
  {% if resource.description is not empty %}
    <br/>{{ resource.description }}
  {% endif %}
{% endmacro %}

{% macro data_contributors(data) %}
  {% if data|length > 0 %}
    <h2>{{ 'concept.contributors'|trans }}</h2>
    <ul>
      {% from _self import render_contributor %}
      {% for contributor in data %}
        <li>
          {{ render_contributor(contributor) }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_contributor(contributor) %}
  {% if contributor.email is not empty %}
    <a href="mailto:{{ contributor.email }}">{{ contributor.name }}</a>
  {% else %}
    {{ contributor.name }}
  {% endif %}
  {% if contributor.description is not empty %}
    <br/>{{ contributor.description }}
  {% endif %}
  {% if contributor.url is not empty %}
    <br/><a href="{{ contributor.url }}" target="_blank">{{ contributor.url }}</a>
  {% endif %}
{% endmacro %}

{% macro data_self_assessment(data) %}
  {% set title = naming.get.concept.selfAssessment|capitalize %}
  {% set annotationContext = 'self-assessment' %}
  {{ block('data_display_block') }}
{% endmacro %}

{% macro data_additional_resources(data) %}
  {% set title = naming.get.concept.additionalResources|capitalize %}
  {% set annotationContext = 'additional-resources' %}
  {{ block('data_display_block') }}
{% endmacro %}

{% block data_display_relations %}
  {% import _self as macros %}
  <h2>{{ title }}</h2>
  <ul>
    {% for relation in relations %}
      <li>
        {{ macros.link_to_relation(relation.source, incoming) }}
        <i>{{ relation.relationType.name|lower }}</i>
        {{ macros.link_to_relation(relation.target, not incoming) }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% macro link_to_relation(concept, createLink) %}
  {% if createLink %}
    <a href="{{ path('app_concept_show', {concept: concept.id}) }}">{{ concept.name }}</a>
  {% else %}
    {{ concept.name }}
  {% endif %}
{% endmacro %}

{% macro data_incoming_relations(relations) %}
  {% if relations|length > 0 %}
    {% set title = 'concept.incoming-relations'|trans %}
    {% set incoming = true %}
    {{ block('data_display_relations') }}
  {% endif %}
{% endmacro %}

{% macro data_outgoing_relations(relations) %}
  {% if relations|length > 0 %}
    {% set title = 'concept.outgoing-relations'|trans %}
    {% set incoming = false %}
    {{ block('data_display_relations') }}
  {% endif %}
{% endmacro %}

{% macro data_prior_knowledge(data) %}
  {% if data|length > 0 %}
    <h2>{{ naming.get.concept.priorKnowledge|capitalize }}</h2>
    <ul>
      {% from _self import render_prior_knowledge %}
      {% for priorKnowledge in data %}
        <li>
          {{ render_prior_knowledge(priorKnowledge) }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_prior_knowledge(priorKnowledge) %}
  <a href="{{ path('app_concept_show', {'concept': priorKnowledge.id}) }}">{{ priorKnowledge.name }}</a>
{% endmacro %}

{% macro data_learning_outcomes(data) %}
  {% if data|length > 0 %}
    <h2>{{ naming.get.learningOutcome.objs|capitalize }}</h2>
    <ul>
      {% from _self import render_learning_outcome %}
      {% for learningOutcome in data %}
        <li>
          {{ render_learning_outcome(learningOutcome) }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_learning_outcome(learningOutcome) %}
  <a href="{{ path('app_learningoutcome_show', { learningOutcome: learningOutcome.id }) }}"><b>{{ learningOutcome.shortName }}</b></a>
  <div class="ltb-text-container">
    {{ learningOutcome.text|striptags(allowed_ckeditor_tags)|raw }}
  </div>
{% endmacro %}

{% macro data_tags(data) %}
  {% if data|length > 0 %}
    <div class="concept-tags">
      {% from _self import render_tag %}
      {% for tag in data %}
        {{ render_tag(tag) }}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro render_tag(tag) %}
  <div class="concept-tag" data-color="{{ tag.color }}" data-link="{{ path ('app_tag_show', { tag: tag.id }) }}">
    <span>{{ tag.name }}</span>
  </div>
{% endmacro %}

{% macro data_concepts(data) %}
  {% if data|length > 0 %}
    <h2>{{ 'menu.concept'|trans }}</h2>
    <ul>
      {% for concept in data %}
        <li>
          <a href="{{ path('app_concept_show', { concept: concept.id}) }}"><b>{{ concept.name }}</b></a>
          {# Show definition is available, otherwise introduction if available #}
          {% if concept.definition|length > 0 %}
            <div class="ltb-text-container">
              {{ concept.definition|striptags(allowed_ckeditor_tags)|raw }}
            </div>
          {% elseif concept.introduction.text|length > 0 %}
            <div class="ltb-text-container">
              {{ concept.introduction.text|striptags(allowed_ckeditor_tags)|raw }}
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro data_learning_paths(data) %}
  {% if data|length > 0 %}
    <h2>{{ 'menu.learning-paths'|trans }}</h2>
    <ul>
      {% for learningPath in data %}
        <li>
          <a href="{{ path('app_learningpath_show', { learningPath: learningPath.id }) }}">{{ learningPath.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro data_tag_concepts(data) %}
  {% if data|length > 0 %}
    <h2>{{ 'menu.concept'|trans }}</h2>
    <ul class="tagged-concepts">
      {% for concept in data %}
        <li class="tagged-concept">
          <h5><a href="{{ path('app_concept_show', { concept: concept.id}) }}">{{ concept.name }}</a></h5>          
          {% if concept.imagePath %}
            <div class="concept-image">
              <img src="{{ concept.imagePath }}" alt="" title="{{ concept.name }}">
            </div>
          {% endif %}
            {# Show definition is available, otherwise introduction if available #}
          {% if concept.definition|length > 0 %}
              <div class="ltb-text-container">
                <p>{{ concept.definition|striptags(allowed_ckeditor_tags)|raw }}</p>
              </div>
          {% elseif concept.introduction.text|length > 0 %}
              <div class="ltb-text-container">
                <p>{{ concept.introduction.text|striptags(allowed_ckeditor_tags)|raw }}</p>
              </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
