{% block data_display_block %}
  {% if data.hasData %}
    {% if title is defined %}<h2>{{ title }}</h2>{% endif %}
    {{ data.text|striptags(allowed_ckeditor_tags)|raw }}
  {% endif %}
{% endblock %}

{% macro data_introduction(data) %}
  {{ block('data_display_block') }}
{% endmacro %}

{% macro data_theory_explanation(data) %}
  {% set title = 'concept.theory-explanation'|trans %}
  {{ block('data_display_block') }}
{% endmacro %}

{% macro data_how_to(data) %}
  {% set title = 'concept.how-to'|trans %}
  {{ block('data_display_block') }}
{% endmacro %}

{% macro data_examples(data) %}
  {% set title = 'concept.examples'|trans %}
  {{ block('data_display_block') }}
{% endmacro %}

{% macro data_external_resources(data) %}
  {% if data|length > 0 %}
    <h2>{{ 'concept.external-resources'|trans }}</h2>
    <ul>
      {% for example in data %}
        <li>
          <a href="{{ example.url }}" class="no-block" target="_blank">{{ example.title }}</a>\
          <br/>{{ example.description }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro data_self_assessment(data) %}
  {% set title = 'concept.self-assessment'|trans %}
  {{ block('data_display_block') }}
{% endmacro %}

{% block data_display_relations %}
  {% import _self as macros %}
  <h2>{{ title }}</h2>
  <ul>
    {% for relation in relations %}
      <li>
        {{ macros.link_to_relation(relation.source, incoming) }}
        <i>{{ relation.relationType.name|lower }}</i>
        {{ macros.link_to_relation(relation.target, not incoming) }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% macro link_to_relation(concept, createLink) %}
  {% if createLink %}
    <a href="{{ path('app_concept_show', {concept: concept.id}) }}">{{ concept.name }}</a>
  {% else %}
    {{ concept.name }}
  {% endif %}
{% endmacro %}

{% macro data_incoming_relations(relations) %}
  {% if relations|length > 0 %}
    {% set title = 'concept.incoming-relations'|trans %}
    {% set incoming = true %}
    {{ block('data_display_relations') }}
  {% endif %}
{% endmacro %}

{% macro data_outgoing_relations(relations) %}
  {% if relations|length > 0 %}
    {% set title = 'concept.outgoing-relations'|trans %}
    {% set incoming = false %}
    {{ block('data_display_relations') }}
  {% endif %}
{% endmacro %}

{% macro data_prior_knowledge(data) %}
  {% if data|length > 0 %}
    <h2>{{ 'concept.prior-knowledge'|trans }}</h2>
    <ul>
      {% for priorKnowledge in data %}
        <li>
          <a href="{{ path('app_concept_show', {'concept': priorKnowledge.id}) }}">{{ priorKnowledge.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro data_learning_outcomes(data) %}
  {% if data|length > 0 %}
    <h2>{{ 'concept.learning-outcomes'|trans }}</h2>
    <ul>
      {% for learningOutcome in data %}
        <li>
          <b>{{ learningOutcome.shortName }}</b>
          <br/>{{ learningOutcome.text|striptags(allowed_ckeditor_tags)|raw }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
