{% block data_display_block %}
  {% if data.hasData %}
    {% if title is defined %}<h2>{{ title }}</h2>{% endif %}
    {{ data.text|striptags(allowed_ckeditor_tags)|raw }}
  {% endif %}
{% endblock %}

{% macro data_introduction(data) %}
  {{ block('data_display_block') }}
{% endmacro %}

{% macro data_learning_outcomes(data) %}
  {% set title = 'concept.learning-outcomes'|trans %}
  {{ block('data_display_block') }}
{% endmacro %}

{% macro data_theory_explanation(data) %}
  {% set title = 'concept.theory-explanation'|trans %}
  {{ block('data_display_block') }}
{% endmacro %}

{% macro data_how_to(data) %}
  {% set title = 'concept.how-to'|trans %}
  {{ block('data_display_block') }}
{% endmacro %}

{% macro data_examples(data) %}
  {% set title = 'concept.examples'|trans %}
  {{ block('data_display_block') }}
{% endmacro %}

{% macro data_external_resources(data) %}
  {% if data|length > 0 %}
    <h2>{{ 'concept.external-resources'|trans }}</h2>
    <ul>
      {% for example in data %}
        <li><a href="{{ example.url }}" class="no-block" target="_blank">{{ example.title }}</a><br>{{ example.description }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro data_self_assessment(data) %}
  {% set title = 'concept.self-assessment'|trans %}
  {{ block('data_display_block') }}
{% endmacro %}

{% block data_display_relations %}
  <h2>{{ title }}</h2>
  <ul>
    {% for relation in relations %}
      <li>{{ relation.source.name }} <i>{{ relation.relationType.name|lower }}</i> {{ relation.target.name }}</li>
    {% endfor %}
  </ul>
{% endblock %}

{% macro data_incoming_relations(relations) %}
  {% if relations|length > 0 %}
    {% set title = 'concept.incoming-relations'|trans %}
    {{ block('data_display_relations') }}
  {% endif %}
{% endmacro %}

{% macro data_outgoing_relations(relations) %}
  {% if relations|length > 0 %}
    {% set title = 'concept.outgoing-relations'|trans %}
    {{ block('data_display_relations') }}
  {% endif %}
{% endmacro %}
